[2018-04-26 09:49] gwenshap opened #2 "Not really an issue :)"
No complaints, but I couldn't find any other way to say how excited I am to see this taking shape.

[2018-04-26 16:12] qshao-pivotal opened #3 "Add PodDisruptionBudget to cp-zookeeper charts"
An Application Owner can create a **[PodDisruptionBudget](https://kubernetes.io/docs/concepts/workloads/pods/disruptions/)** object (PDB) for each application. A PDB limits the number pods of a replicated application that are down simultaneously from voluntary disruptions.

For **ZooKeeper**:
**Concern**: Do not reduce number of instances below quorum, otherwise writes fail.
**Possible Solution 1*

[2018-04-26 16:14] qshao-pivotal opened #4 "Add README.md to cp-zookeeper chart"

[2018-04-26 16:16] qshao-pivotal opened #5 "Add Note.txt to cp-helm chart"
[Note.txt](https://github.com/kubernetes/helm/blob/master/docs/chart_template_guide/notes_files.md) for instructions

[2018-04-26 16:25] qshao-pivotal opened #6 "Add Readiness Probe and Liveness Probe to cp-zookeeper chart"
[Configure Liveness and Readiness Probes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/)

[2018-04-26 19:41] qshao-pivotal opened #8 "Add podAntiAffinity"

[2018-04-26 19:42] #8 closed, assigned to nobody

[2018-04-26 20:17] #3 closed, assigned to nobody

[2018-04-26 20:55] #6 closed, assigned to nobody

[2018-04-27 18:26] qshao-pivotal opened #14 "Mount a separate Persistent Volume to Zookeeper log dir"

[2018-04-27 18:26] qshao-pivotal opened #15 "Mount a separate Persistent Volume to Kafka broker log dir"

[2018-04-27 19:35] qshao-pivotal opened #16 "Monitoring Solution for cp-kafka and cp-zookeeper"
## Problem Statement
As an operator, after provisioning a kafka cluster, I need to know what is happening to Kafka(metrics) and also be able to view after fact(logs).
## Potential Solution
- Metrics
1. Prometheus JMX exporter + external Prometheus - all components exist, need a supported docker image for JMX exporter + definitions/transformation of all JMX metrics of interest.
2. Prometheus Kafka

[2018-05-01 14:11] rohit2b opened #21 "Add to documentation"
Got some feedback from internal testing of the Helm charts.

- Add validation step - how to run a simple client to test that Kafka brokers are set up properly
- We should probably say in the README that the charts provide persistent storage (and not ephemeral storage)
- Helm setup/install troubleshooting info
- Explain: What are Helm charts? How are the helm templates better than vanilla templates

[2018-05-01 18:39] qshao-pivotal opened #22 "Create Test hook to validate Zookeeper Installation success"
https://docs.helm.sh/developing_charts/
Here's an example for Kafka

[2018-05-01 18:40] qshao-pivotal opened #23 "Create Test hook to validate Kafka Installation success"
https://docs.helm.sh/developing_charts/
Here's an example for Kafka

[2018-05-01 18:43] gwenshap opened #24 "Document process for resource requirements"
Kubernetes and Helm allow users to require and/or limit resources for each component. For example, we recommend 4GB RAM for Kafka Broker, so it will be good to let Kubernetes know, so brokers can be allocated on nodes with enough resources.

We don't need to have these by default (so our charts will be useful for tiny deployments), but we want to let people know they can and should do it for produ

[2018-05-02 17:30] gwenshap opened #25 "Add external routing for Kafka"
We will want to provide the option to produce/consume to Kafka from outside Kubernetes.

[2018-05-02 19:00] gwenshap opened #26 "Document configuration parameters"
See here for example: https://github.com/kubernetes/charts/blob/master/incubator/kafka/README.md

[2018-05-02 19:03] gwenshap opened #27 "Is it possible to modify Kafka configuration parameters?"
If yes, document how.
If no, we need to add this capability.

[2018-05-05 01:52] #4 closed, assigned to nobody

[2018-05-05 01:56] qshao-pivotal opened #33 "Build a Prometheus JMX Exporter Docker Image for all components to use (Zookeeper, Kafka, etc)"
Need a cp-prometheus-jmx-exporter that contains Prometheus JMX exporter https://github.com/prometheus/jmx_exporter/releases like other cp-XXX images
Right now I'm using https://hub.docker.com/r/solsson/kafka-prometheus-jmx-exporter/~/dockerfile/ which works.

[2018-05-05 06:22] #23 closed, assigned to nobody

[2018-05-05 06:25] qshao-pivotal opened #37 "Canary test-success hook for cp-zookeeper"
For cp-kafka charts we have a canary test-success hook which can run as a simple validation task(`helm test <release>` after `helm install ./cp-kafka`).
https://github.com/confluentinc/cp-helm-charts/blob/master/charts/cp-kafka/templates/tests/canary-pod.yaml

It would be nice to have something similar for zookeeper.

[2018-05-07 05:25] qshao-pivotal opened #38 "JMX rules for Schema Registry"
We need JMX rules for Schema Registry in order to enable monitoring for Schema Registry
Similar to what we have for Kafka and Zookeeper JMX rules:
https://github.com/confluentinc/cp-helm-charts/blob/master/charts/cp-kafka/templates/jmx-configmap.yaml#L18-L60

[2018-05-07 05:26] qshao-pivotal opened #39 "JMX rules for REST Proxy"
We need JMX rules for REST Proxy in order to enable monitoring
Similar to what we have for Kafka and Zookeeper JMX rules:
https://github.com/confluentinc/cp-helm-charts/blob/master/charts/cp-kafka/templates/jmx-configmap.yaml#L18-L60

[2018-05-07 06:07] #14 closed, assigned to nobody

[2018-05-07 14:41] qshao-pivotal opened #42 "Zookeeper Optional Configurations"
As part of #27 and #26
In cp-zookeeper image, there are some optional configurations:
https://github.com/confluentinc/cp-docker-images/blob/master/debian/zookeeper/include/etc/confluent/docker/zookeeper.properties.template#L8-L29
Right now we only surfaced 2 config parameters: https://github.com/confluentinc/cp-helm-charts/blob/master/charts/cp-zookeeper/templates/statefulset.yaml#L96-L99

Can we

[2018-05-07 21:38] #15 closed, assigned to nobody

[2018-05-09 19:01] qshao-pivotal opened #51 "Add LICENSE.txt file"

[2018-05-09 19:08] qshao-pivotal opened #52 "Add Referenced OSS sources to README.md"
Huge thanks to:
Kafka helm chart: https://github.com/kubernetes/charts/tree/master/incubator/kafka
Zookeeper helm chart: https://github.com/kubernetes/charts/tree/master/incubator/zookeeper
Schema Registry helm chart: https://github.com/kubernetes/charts/tree/master/incubator/schema-registry
kubernetes-kafka: https://github.com/Yolean/kubernetes-kafka

[2018-05-09 19:10] qshao-pivotal opened #53 "Update Chart.yaml for all charts"
We should update our Chart.yaml file like this:
https://github.com/kubernetes/charts/blob/master/incubator/schema-registry/Chart.yaml

[2018-05-10 20:36] #53 closed, assigned to aayars, mikkin, rohit2b

[2018-05-11 20:23] gAmUssA opened #62 "cp-kafka depends on cp-zookeeper"
[code]

Which is not true.
* Only dependency for `cp-kafka` is `cp-zookeeper`.
* for `cp-schema-registry`  - `cp-kafka` and (trasitevly) `cp-zookeeper`
* for `cp-kafka-rest` - SR (not always), Kafka and ZK
for `cp-connect` - SR, Kafka and ZK

[2018-05-11 21:40] #5 closed, assigned to nobody

[2018-05-11 21:40] #16 closed, assigned to nobody

[2018-05-11 21:40] #26 closed, assigned to nobody

[2018-05-14 15:05] qshao-pivotal opened #65 "Allow external access to REST Proxy"

[2018-05-14 15:10] #25 closed, assigned to nobody

[2018-05-17 20:05] #65 closed, assigned to nobody

[2018-05-21 21:47] #33 closed, assigned to aayars, mikkin

[2018-05-21 21:48] #39 closed, assigned to mikkin, rohit2b

[2018-05-21 21:48] #38 closed, assigned to mikkin, rohit2b

[2018-05-22 19:13] gwenshap opened #76 "I get an "already exists" error when running the umbrella chart"
[code]

But when I list the services, they are all created...

[code]

[2018-05-22 22:27] #76 closed, assigned to qshao-pivotal

[2018-05-23 02:31] gAmUssA opened #80 "clean up docs"
provide a doc on how to undeploy COS cluster

[2018-05-23 03:27] #80 closed, assigned to nobody

[2018-05-23 14:26] #2 closed, assigned to nobody

[2018-05-23 14:28] rohit2b opened #83 "Missing `-f` in `kubectl apply` statements"
In https://github.com/rohit2b/cp-helm-charts/blob/master/README.md file.

[2018-05-23 15:31] #83 closed, assigned to rohit2b

[2018-05-23 15:41] rohit2b opened #85 "Create yaml config for mini-kube for local development work"

[2018-05-25 19:31] qshao-pivotal opened #91 "Create Test hook to validate Schema Registry Installation success"
@mikkin do we have something available to verify installation of schema registry?

[2018-05-25 23:12] #52 closed, assigned to aayars

[2018-05-25 23:12] #51 closed, assigned to aayars

[2018-05-29 01:20] qshao-pivotal opened #95 "Clean Wiki page"

[2018-05-29 01:29] gAmUssA opened #97 "Convert readme docs to asciidoc before release"
Asciidoctor is supported by gh and we use in internal professional services docs repo

[2018-05-29 21:14] rohit2b opened #99 "Add CLA bot to this repo"

[2018-06-04 21:04] #95 closed, assigned to rohit2b

[2018-06-14 08:20] kaiwaehner opened #107 "Helm 2.9.1 also refusing connection with minikube..."
I followed all steps, but "helm list" still refusing connection even thought the read me says that only before 2.9.1. these issues exist. Though, the documented workaround does not work, unfortunately.

Here are my steps (I tried it twice):

kai.waehner@Kais-MacBook-12:~|⇒  kubectl cluster-info
Kubernetes master is running at https://192.168.99.100:8443

To further debug and diagnose cluster probl

[2018-06-14 09:06] kaiwaehner opened #108 "Error: configmaps is forbidden"
I set up a new GCP K8s cluster and followed all steps to install helm and cloned this repo. I followed the steps from readme (without the minikube steps, of course.

Error: configmaps is forbidden...

See attached file for the steps I did...

**Maybe GCP K8s needs other steps than minikube? Then the docs should point this out (and describe the steps).**

[commands.txt](https://github.com/confluent

[2018-06-15 08:36] framiere opened #109 "Liveness / readiness for our components"
I see only a single liveness probe for ZK.
Shouldn't we add liveness and readyness for all components ?

example for kafka
[code]

for zk

[code]

[2018-07-16 16:03] #108 closed, assigned to nobody

[2018-07-16 16:03] #62 closed, assigned to nobody

[2018-08-01 19:17] #97 closed, assigned to gAmUssA

[2018-08-06 18:02] #109 closed, assigned to nobody

[2018-08-08 16:38] qshao-pivotal opened #117 "doc link in README.md is not working"
the doc link in https://github.com/confluentinc/cp-helm-charts/blob/master/README.md is not working

[2018-08-08 16:42] #117 closed

[2018-08-09 21:47] #21 closed

[2018-08-13 09:03] maver1ck opened #119 "Ingresses for services"
Please create ingress template and configuration for:
- kafka-rest
- kafka-connect
- schema-registry

[2018-08-13 20:56] taylorsmithgg commented on #119
It would also be nice to have `Ingress` available for kafka and zookeeper as well.

[2018-08-13 21:08] maver1ck commented on #42
Maybe better option will be sth like that ?
[code]
and in values.yaml
[code]

[2018-08-14 01:20] kanolato opened #122 "Links broken"
All of the file's links are broken
https://github.com/confluentinc/cp-helm-charts/blob/master/docs/index.rst
For example:
- The link to the KSQL example
- The link to the values.yaml

[2018-08-14 01:39] gAmUssA commented on #122
@joel-hamill should we replace relative links to `values.yml` with absolute?
It looks like our docs pipeline doesn't support relative links.

[2018-08-14 14:32] kanolato commented on #107
You could try `helm init --service-account default` instead of just `helm init`

[2018-08-14 16:43] joel-hamill commented on #122
The place to view the rendered cp-helm charts documentation is at https://docs.confluent.io/current/quickstart/cp-helm-charts/docs/index.html, so the links are optimized for that location - not GitHub. So on that page the KSQL link works, the YAML currently doesn't. Here's a PR to fix the YAML link: https://github.com/confluentinc/cp-helm-charts/pull/123.

[2018-08-14 18:25] gAmUssA commented on #122
Thanks @joel-hamill !
@kanolato I'm closing is as per #123 and @joel-hamill comment

[2018-08-14 18:25] #122 closed

[2018-08-14 21:29] kanolato commented on #122
Nice!

[2018-08-16 05:19] #99 closed, assigned to aayars

[2018-08-16 06:34] pavel-agarkov commented on #109
Even if you are not going to include probes by default - they might be optional.
At least let's collect all the ideas and best practices somewhere so people can for example vote for them.
For KSQL I've tried [this](https://docs.confluent.io/current/ksql/docs/operations.html#healthchecks) but nothing actually worked since rest api turned off when queries file specified and `ksql-print-metrics` scri

[2018-08-20 05:37] Comradin opened #129 "Question: What about SSL and SASL?"
Hello,

Looking at the chart I did not find any possible configuration for TLS encryption and SASL support.

Did you leave this out intentionally or do I miss something due to lack of experiance?

Kind regards,
Marcus

[2018-08-21 15:26] ebalsumgo commented on #119
So the issue with this as I see it is that most ingress controllers are setup to do HTTP(s) load balancing and forwarding. In order to get Kafka and Zookeeper to work there is a need of a TCP LB, which only some of the ingress controllers support. The official Kubernetes Nginx based one supports it somewhat, the official nginx.org one currently does not, and there are some HAProxy ones that do. So

[2018-08-22 05:20] thomas opened #130 "Consider adding heapOptions for kafka-connect, etc."
Just an ease of use thing, not really a bug, I've already worked around it for myself:

Kafka & Zookeeper have pretty optimized heap settings by default (512M). Kafka-connect, on the other hand, is gobbling up quite a bit on startup, at least 1G, which was enough to cause issues in my (very small) test cluster.

May save a lot of confusion and support requests to throw a heapOptions option in for

[2018-08-22 10:00] gAmUssA commented on #130
Hello @thomas
Thanks for that.
Have you considered send PR?

[2018-08-26 08:37] oded-dd opened #131 "Add nodeSelection, Tolleration and Affinity"
We would like to be able to run Kafka on a specific machine

[2018-08-29 11:54] Tenseiga commented on #24
HI Team,
I cannot find your repo. Is the chart published to some repository? so that I can add ?

[2018-08-29 11:57] Tenseiga opened #132 "Repo for the Charts"
Just want to know if the charts are pushed to repo?

[2018-08-30 04:09] Tenseiga opened #134 "Need to add auto.create.topics enabled."
Is it possible to change broker configuration

[2018-08-31 20:51] #132 closed

[2018-08-31 20:52] gAmUssA commented on #132
hi @Tenseiga

you can do

[code]

Let me know how it goes!

[2018-09-02 13:53] mixja opened #135 "Helm Chart configmap is too large"
When installing the chart via Helm the following error is received:

[code]

This somewhat obscure error is caused by a known issue https://github.com/helm/helm/issues/1996 where the configmap that is created for the Helm release is greater than 1MB.

You also need to manually clean up all resources as follows:

[code]

I found that adding the following to the `.helmignore` file fixes the issue:

[2018-09-02 13:56] gAmUssA commented on #135
@mixja good catch!
Could you submit fix for helmignore?

[2018-09-02 14:10] mixja commented on #135
Actually looking at https://github.com/confluentinc/cp-helm-charts/blob/362dc3908d1d2861d5c134fce3fc39d482a6b224/cp-helm-charts-0.1.0.tgz it has a nested cp-helm-charts-0.1.0.tgz archive:

[code]

The nested archive looks like it is correct and installs fine:

[code]

[2018-09-02 14:53] #135 closed

[2018-09-03 04:35] Tenseiga commented on #132
Hi gAmUssA,

Thanks a ton. It works :)

[2018-09-06 14:40] mickael83 opened #138 "Unable to install new connector plugins in kafka connect"
Hi,

I successfully deployed kafka confluent platform into my minikube cluster using this helm chart and I successfully added new connector configuration using the JdbcSourceConnector with a postgresql configuration.

I am now struggling to add a new connector configuration using the JdbcSourceConnector for an SQLServer database. I already downloaded the mssql driver (mssql-jdbc-7.0.0.jre8.jar) an

[2018-09-07 03:18] macropin commented on #135
I believe that this bug should be reopened. Helm does not handle this error case cleanly.

Helm fails on install / upgrade. Tiller reports `Failed to record release xxxx: ConfigMap "xxxx.v1" is invalid: data: Too long: must have at most 1048576 characters` when in fact the configmap is fine. The error is elsewhere with the chart containing nested charts due to a publishing error.

[2018-09-12 05:53] tongda commented on #131
We need this too. Please consider to add this feature next.

[2018-09-12 13:48] dkirrane commented on #109
@qshao-pivotal  Interested in this discussion to can you add me to slack discussion?
How does cp-helm-chart handle graceful-shutdown (`controlled.shutdown.enable=true`). Are there plans to use probes?

[2018-09-13 09:26] maver1ck opened #140 "Generic environmental options for every deployment"
Please add this section to every deployment:
[code]
This will give possibility to add configure any env variable.

[2018-09-13 10:23] maver1ck opened #141 "Pod Disruption Budget remove on chart upgrade"
Zookeeper Pod Disruption Budget is removed on chart upgrade.

[2018-09-13 11:33] gAmUssA commented on #140
Hello
@maver1ck kindly, send PR!

[2018-09-13 15:50] narendraj9 commented on #129
+1 for this question. I am also interested in having TLS support with the chart. For an installation like minikube, I think the chart can also make use of the k8s CA.

[2018-09-14 07:11] maver1ck commented on #140
OK.
Work in progress...

[2018-09-14 12:45] qshao-pivotal commented on #140
Plz note that the docker images (confluent docker images) we are using have
their own logic about setting params. I highly recommend you investigating
into images’ docker file first before making this a PR. Maybe dockerfile is
the better place to add related changes.
Maciej Bryński <notifications@github.com>于2018年9月14日 周五下午3:11写道：

[2018-09-14 12:46] maver1ck commented on #140
I just want to add possibility to set arbitrary env variable.

[2018-09-15 07:59] #134 closed

[2018-09-15 08:00] Tenseiga opened #142 "support for Confluent Enterprise helm chart"
Hi,
IS there an Helm Chart for Enterprise version?

[2018-09-15 15:10] perunb opened #143 "Replace "cluster.local" in Zookeeper chart"
Please replace "cluster.local" with a helm variable for cluster name. Otherwise, this chart can't be used with other cluster names (e.g. "production", "integration").

See:
https://github.com/confluentinc/cp-helm-charts/blob/df888a1b51e2031b6afc218d5f0f1389e96dca63/charts/cp-zookeeper/templates/_helpers.tpl#L45

[2018-09-15 15:12] perunb commented on #143
Sorry, there is already a Pull request for this issue.
https://github.com/confluentinc/cp-helm-charts/pull/128

[2018-09-15 15:12] #143 closed

[2018-09-19 07:10] maver1ck opened #144 "Can't run Schema Registry with replicaCount > 1"
When running schema registry with replicaCount > 1, I'm getting following error on non-master nodes:
[code]
Maybe headless service will be solution here ?

[2018-09-20 11:15] maver1ck opened #145 "[Kafka] wrong configuration when NodePort is disabled"
When NodePort is disabled this configuration is used:
[code]
which make some of the tool not working properly (like kafka-rest)

[2018-09-20 15:06] maver1ck commented on #140
@gAmUssA @qshao-pivotal
I'm thinking about sth like this.
https://github.com/confluentinc/cp-helm-charts/pull/146/files
If it's OK I can continue with the rest of charts.

[2018-09-21 12:05] dirgapeter opened #147 "Chart file is too big"
Even after commit c0028a768f80519329ea2c0bd0eb2911ac6e80cc, png files are still in chart file. 560kb vs 55kb.

[2018-09-25 20:54] CrystalMethod opened #148 "add optional imagePullSecrets"
We would like to use custom Docker images. The current configuration allows you to specify ``image`` and ``imageTag`` for each of the sub-charts. When using a private registry the download of the image fails as expected. Accordingly we have extended the templates with the optional declaration of ``imagePullSecrets``, e.g. ``{{- if .Values.global.imagePullSecrets }}...{{- end }}``. Would that be of

[2018-09-25 23:56] gAmUssA commented on #148
@CrystalMethod Lars, this is fantastic idea for PR.
Thanks

[2018-09-26 15:36] CrystalMethod commented on #148
Fine, will do so.

[2018-09-26 21:33] dzhagr opened #149 "Add annotations to the external cp-kafka-rest service"
The config cp-helm-charts/charts/cp-kafka-rest/templates/external-service.yaml misses the metadata.annotations value, wired with the values.yaml. Annotations are needed when used with AWS ELB.

Please, correct me if I'm wrong, but there is no way to make the external service working with ELB.

[2018-09-27 15:35] qshao-pivotal commented on #149
#137

[2018-09-27 18:31] miramar-labs opened #150 "NodePort not working"
I tried enabling it with:

--set nodeport.enabled=true

but I don't see any NodePorts being set up ....

[2018-09-27 19:16] CrystalMethod commented on #150
you have to specifiy the affected subchart, e.g. ``--set cp-kafka.nodeport.enabled=true``

[2018-10-30 04:36] pratapagiri opened #164 "How to create topics during startup?"
Could you please let us know how to create topics during startup of the kafka/zookeeper containers?

[2018-10-30 13:24] Bowiemb opened #165 "Question: Are there any metrics exposed to Confluent? If so, how do you disable?"
Thanks.

My best,
Michael

[2018-10-30 13:43] Bowiemb commented on #165
Found it.

`confluent.support.metrics.enable=true` in `/etc/kafka/server.properties`

https://docs.confluent.io/current/proactive-support.html

[2018-10-30 13:43] #165 closed

[2018-10-30 16:38] wktmeow commented on #129
+1, working on adding this in my fork and will create a PR when ready - glad to have any help/feedback:
https://github.com/wktmeow/cp-helm-charts/tree/ssl

[2018-10-30 16:41] wktmeow commented on #138
Found the same thing, added PR: https://github.com/confluentinc/cp-helm-charts/pull/160

[2018-10-31 20:37] #148 closed

[2018-11-01 15:37] danielkoek opened #166 "Consumer doesn't work but producer does"
Hi!

We are currently trying to create a little poc for running kafka+.net core in the kubernetes (aks)

The problem however is that we are seeing issues with consuming the messages when our application is deployed in kubernetes.

We used the standard consumer/producer example from the .netcore libary (https://github.com/confluentinc/confluent-kafka-dotnet) only modifying it so that we can do get

[2018-11-01 15:57] gAmUssA commented on #166
@danielkoek could you provide reproducer image for you app?

[2018-11-02 09:41] danielkoek commented on #166
Hi i will do you one better:
how i installed the confluent kafka:

helm repo add confluentinc https://raw.githubusercontent.com/confluentinc/cp-helm-charts/master
helm repo update
helm install --name confluence confluentinc/cp-helm-charts

then created this in the hub
docker hub:
danielkoek/kafkatest
Source code:
https://github.com/danielkoek/kafkatest

then with the kube dashboard created the app

[2018-11-06 10:08] weichuliu opened #171 "Helm failed to download cp-helm-charts on minikube"
Hi,

I was following https://docs.confluent.io/current/installation/installing_cp/cp-helm-charts/docs/index.html to try running Kafka on Minikube

However, I got error message when installing chart with helm

[code]

Can anyone tell me what did I do wrong?

[2018-11-07 06:47] mixja commented on #164
You can define a configmap and job that creates your topics for you:

[code]

[2018-11-07 08:44] danielkoek commented on #171
Hi, took me a while to figure this one out as well since i never used helm before,
**You have to add the repo:**
helm repo add confluentinc https://raw.githubusercontent.com/confluentinc/cp-helm-charts/master
helm repo update
helm install --name confluence confluentinc/cp-helm-charts

[2018-11-07 09:40] weichuliu commented on #171
@danielkoek Thanks greatly!!! I believe confluent should really update their docs and blogs for this.

[2018-11-07 16:35] francoisserra opened #173 "Add a runAsUser option to launch containers with non-root user"
Some deploying platforms (like OpenShift MustRunAsNonRoot settings) prevent containers to run as root user. There should be a way to specify to run as non-privileged users.

For instance ZK starts well by specifying runAsUser: 104 in the statefulset config.

Should we provide a general option (e.g. runUnprivileged) in the values.yml or offer the possibility to specify the uid to use in each deploy

[2018-11-07 20:59] gAmUssA commented on #171
@weichuliu feel free to send PR for docs.
I'm closing this. Thank you

[2018-11-07 20:59] #171 closed

[2018-11-07 21:08] gAmUssA commented on #173
@francoisserra would you be kind to send a PR for that?

[2018-11-09 10:00] yhekma opened #179 "Not able to specify tolerations"
I would like to have a number of workers in my K8s cluster dedicated for kafka load. In order to do that, I want to use taints/tolerations, but currently this is not possible in the helm chart. I created a pull request for that: https://github.com/confluentinc/cp-helm-charts/pull/178

[2018-11-09 11:59] maver1ck commented on #144
This was fixed

[2018-11-09 11:59] #144 closed

[2018-11-09 15:41] francoisserra commented on #173
I'm struggling with the following commit on the cp-docker images side https://github.com/confluentinc/cp-docker-images/pull/575  : e.g. it has made the folder /var/lib/zookeeper unwritable for non-root users (i.e. cp-kafka user)

[2018-11-11 11:15] mixja commented on #138
The custom connectors need to be in the plugin directory at Connect startup.

You can do this using either of the following approaches:

1.  Create a custom Docker image based from confluentinc/cp-kafka-connect:

[code]

2.  Mount a volume that includes the connectors into your Connect container.  E.g. you could mount an empty volume to an initContainer that downloads and copies the connector to t

[2018-11-13 05:41] pratapagiri commented on #164
Thanks for solution. Is there a plan to add this feature to the repo?

[2018-11-13 10:48] kaiwaehner opened #184 "Document hardware requirements for default values"
While issue #24 asks about how to configure Helm charts for PROD environments to limit resources, the issue I create here is more simple:

Please document the requirements for the Helm default values when you just want to start with 3 AK, 3 ZK, 1 REST, 1 SR.

Locally on my laptop, I have no idea how much RAM and CPU I have to give Docker, and in the cloud I have no idea what kind of K8s cluster I

[2018-11-13 13:20] francoisserra commented on #173
You're right, I didn't saw this. By the way I will be able to submit the PR soon. I had to use the supplementalGroups directive to add the root group to the user.

[code]

[2018-11-13 15:59] kaiwaehner opened #185 "Documentation for monitoring part (Grafana) is incorrect and incomplete"
Problems with configuring the monitoring as described in the docs under section "monitoring".

I have installed prometheus and grafana as described (step 1). But step 2 and 3 are incomplete / incorrect.

Step 2:
Add Prometheus as Data Source in Grafana, url should be something like: http://illmannered-marmot-prometheus-server:9090
=> I have no idea what to do here and what "something like" means

[2018-11-14 01:20] #141 closed

[2018-11-14 14:50] qshao-pivotal commented on #179
Resolved by #157

[2018-11-14 14:50] #179 closed

[2018-11-14 14:50] qshao-pivotal commented on #131
Resolved in #157

[2018-11-14 14:50] #131 closed

[2018-11-14 14:52] #149 closed

[2018-11-22 16:14] milanvdm commented on #107
I have exactly the same issue:
[code]

[2018-11-27 15:27] sundipnair opened #187 "JDBC connector not assigned any tasks"
My JDBC connector is not being assigned any tasks. Can you spot something in the attached logs and connector config.

`{
    "name": "jdbc_source_postgre_candidate",
    "config": {
        "connector.class": "io.confluent.connect.jdbc.JdbcSourceConnector",
        "connection.url": "jdbc:postgresql://cr-postgresql.postgre-system.svc.cluster.local:5432/Candidate?user=xxx&password=xxx",
        "ta

[2018-11-28 14:06] dkirrane opened #189 "Unable to set replication factor env variables in cp-kafka-connect Deployment"
The following environement variables need to be configurable
[code]

This is to prevent the confluentinc/cp-kafka-connect container failing on startup when you have only 1 broker e.g. in a dev setup:
`org.apache.kafka.common.errors.InvalidReplicationFactorException: Replication factor: 3 larger than available brokers: 1`

[2018-11-30 17:01] milanvdm opened #192 "Expose Kafka broker for local dev"
Currently the BrokerService is not exposed to the outside world (https://github.com/confluentinc/cp-helm-charts/blob/master/charts/cp-kafka/templates/service.yaml)
For local development on minikube, it would be handy to be able to run your code against the cluster from the outside.

Would it be possible to also include the setting to expose the broker?

[2018-12-03 15:19] sundipnair commented on #187
The DB resources, table and columns names need to be cased (all lower in my case) correctly.
Also the domain name needs to be specified. 'public'.'tablename'
I corrected it accordingly and it worked.

[2018-12-03 15:19] #187 closed

[2018-12-03 15:26] sundipnair opened #193 "Confluent HDFS connector (Azure Data Lake) fails to load tasks"
I have created a custom kafka-connect image using the confluent connect image as the base.

I add the Azure Data Lake dependencies for using an ADL instance as the sink.

All I do to it is then,

1.	Create a core-site.xml file.
[code]

2.	So the bits I have added to the docker file to add the ADL dependencies are as follows,
[code]

3. The config for the connector is as follows
[code]

`curl -s co

[2018-12-05 00:29] qshao-pivotal commented on #142
https://www.confluent.io/confluent-operator/ maybe this is what you're looking for?

[2018-12-05 00:38] #138 closed

[2018-12-05 00:38] #24 closed, assigned to gAmUssA

[2018-12-05 00:38] #27 closed

[2018-12-05 00:39] #37 closed

[2018-12-05 00:39] #42 closed

[2018-12-05 00:40] #107 closed

[2018-12-05 00:42] #140 closed

[2018-12-05 00:43] qshao-pivotal commented on #185
Would you mind sending a PR to correct and complete it?

[2018-12-05 00:45] #147 closed

[2018-12-05 00:45] #142 closed

[2018-12-05 05:55] Keerthi4308 commented on #107
I ran into the same error and above-suggested instruction didn't work for me. I keep getting this error when I try to run helm install confluentinc/cp-helm-charts : " Error: failed to download "confluentinc/cp-helm-charts" (hint: running `helm repo update` may help)"

[2018-12-05 07:07] abhirockzz commented on #107
any resolution ? I am facing the same issue

[2018-12-05 13:47] Tenseiga opened #199 "helm repo down"
Hi Guys,

I gues the helm repo is down
https://raw.githubusercontent.com/confluentinc/cp-helm-charts/master

[2018-12-05 14:55] qshao-pivotal commented on #199
Sorry for this. I deleted the cp-helm-charts-0.1.0.tgz and add it back just for now. Will set up GitHub Pages for future releases. Could you re-try it?

[2018-12-05 18:17] jason-riddle opened #202 "How to backup and restore?"
Is it possible to backup Kafka/zookeeper and restore if there is an issue?

[2018-12-06 01:20] Tenseiga opened #203 "Memory high in the brokers"
Hi i am seeing a high memory usage for the kafka brokers. Especially one of the brokers memeory being very high. It increases constantly. When i am doing a load test, memory increase is evident. But the issue is, there is no cool down period. It stays high throughout until my killed by kubernetes.
I have partition xount of 6 replication count of 3. 3 broker, 3 zookeeper. Anybody facing similar beh

[2018-12-06 21:37] gAmUssA commented on #199
FIXED by #204

@Tenseiga follow instructions

[code]

Same you can read in https://confluentinc.github.io/cp-helm-charts/

[2018-12-06 21:37] #199 closed

[2018-12-07 13:33] mirkoprescha commented on #192
I use these settings to configure external broker access:
Providing optional values file: **my-values-local-broker-access.yaml**
[code]

Use this config-file if env-variable *EXTERNAL_BROKER_ACCESS* is set to "YES":
[code]

With the **customEnv** I am forwarding dynamically the minikube-ip into the broker, which will use it to overwrite *KAFKA_ADVERTISED_LISTENERS*:

![image](https://user-images.g

[2018-12-07 15:08] gAmUssA commented on #199
@Tenseiga

[code]

[2018-12-07 20:05] DaveSlinn opened #205 "Zookeeper ensemble name resolution issues at startup"
I am going through the readme and docs and everything seems to be ok but the pods for the 3 kafka brokers are unstable.  They are continuously restarting.  When I look at the pod log, I see the following:
[code]
Those last three lines just keep repeating until the pod is restarted.

The only settings I'm changing from the repo versions is to set the storage classes for kafka and zookeeper, and the

[2018-12-07 23:18] DaveSlinn commented on #205
It appears to be some sort of port binding conflict with the headless service:
[code]

[2018-12-11 09:52] florianrusch opened #208 "[Feature Request] Make `affinity:` configurable"
It would be nice, if we can make the affinity attributes of the components configurable.

[2018-12-11 23:41] DaveSlinn commented on #205
We have now been fighting with this for 3 days.  The issue we are seeing is that the name resolution of the other zookeeper instances depends on the timing.  We deployed a busybox container to the kafka namespace and used that to nslookup the zookeeper pods as we deleted each one by one.  The nslookup returned that it could not resolve the full zookeeper server name (``confluent-cp-zookeeper-2.con

[2018-12-11 23:54] DaveSlinn commented on #205
Also, running the canary test reports as PASSED but the log of the container shows the following:
[code]

[2018-12-12 00:15] hendrikhalkow commented on #192
As a workaround, you can route your service and pod CIDRs into minikube:

    # service CIDR
    sudo route add -net \
      $(cat ${HOME}/.minikube/profiles/minikube/config.json \
        | jq -r ".KubernetesConfig.ServiceCIDR") \
      $(minikube ip)

    # pod CIDR
    sudo route add -net \
      $(minikube ssh 'ip route show' | grep ' dev docker0 ' | cut -d' ' -f1) \
      $(minikube ip)

[2018-12-12 00:21] hendrikhalkow commented on #185
Fully agree, Kai. The URL should be like http://prometheus-server.<namespace>.svc.cluster.local. That works somehow as long as I don't check the 'default' checkbox. I can see the Prometheus Data in the Prometheus dashboard. However, the Confluent dashboard shows totally random data. The following screenshots were taken within a couple of seconds.

<img width="765" alt="screenshot 2018-12-12 at 01

[2018-12-12 01:42] qshao-pivotal commented on #205
This is what I get with default values.yml. We used 2888 in healess service.

[code]

[2018-12-12 01:52] DaveSlinn commented on #205
We have torn down and rebuilt our entire k8s cluster twice to try to diagnose this problem.  The current zookeeper properties is showing the same  2888:3888 values:
[code]

[2018-12-12 01:55] qshao-pivotal commented on #205
what is the current issue?

[2018-12-12 01:59] DaveSlinn commented on #205
The name resolution during startup of zookeeper in the pods is not working because either the other pods have not been created yet or the pod has started but the dns server is not resolving the headless service yet.  Here is a sample of one of our zookeeper container logs during startup:
[code]

[2018-12-12 02:00] DaveSlinn commented on #205
After which we see a lot of this:
[code]

[2018-12-12 02:02] qshao-pivotal commented on #205
It will resolve eventually, no? Is your zookeeper cluster able to form a quorum or not?

[2018-12-12 02:06] DaveSlinn commented on #205
We have had several instances where it was not able to, which prevented the kafka brokers, connect, rest, ksql and schema registry pods to start successfully and stay running.  They would just constantly restart.  We would use helm to delete the confluent release (with a --purge) and then redo the helm install.  It seems hit or miss to have a stable kafka deployment, and it all cases, our canary l

[2018-12-12 02:15] qshao-pivotal commented on #205
Based on your previous paste, I think there's some configuration param changed on your side(2888->2181->2888 again doesn't seem to be caused by the chart). This chart has been tested across different k8s env such as GKE, EKS, PKS, etc. I would suggest taking a look at your k8s setup if it continues failing.
Indeed before zookeeper and kafka being ready, ksql, rest, schema registry will keep restar

[2018-12-12 02:21] DaveSlinn commented on #205
Yes, I believe the 2181 config properties may have been a result of attempting to correct the issue by doing a helm install and overriding a chart setting using --set.  That was several days ago and we have since torn it down and redid it using the defacto cp-helm-charts and they have always been :2888:3888 since.

Is it acceptable for zookeeper to not be able to resolve one or both of the other z

[2018-12-12 02:30] DaveSlinn commented on #205
Thanks.  Seems like it might be.  One last thing - is the error in the canary log (timeout for the consumer) ok?

[2018-12-12 02:35] qshao-pivotal commented on #205
If it's ran after you have everything up and running. It seems to me that a poor network connection might be the cause. I haven't see it before... we have a timeout set. Maybe you could try to tune it.
https://github.com/confluentinc/cp-helm-charts/blob/master/charts/cp-kafka/templates/tests/canary-pod.yaml#L26

[2018-12-12 02:37] qshao-pivotal commented on #205
just out of curiosity, is this a manual k8s setup or cloud vender? What is the CNI?

[2018-12-12 02:43] DaveSlinn commented on #205
Yes, it's a manual k8s setup.  All of the stuff is brand new to me and my team (4 ppl).  We're using Pharos v1.3.3 (we know latest is 2.1.0 which changes some of the k8s dns stuff) but we haven't tried it yet.  That was going to be next.  It's running on a Windows Core cluster across 6 hyper-v VMs with Ubuntu 18.04 on them.  We are using Rook+Ceph for the persistent volumes, and (obv) Helm to depl

[2018-12-12 02:47] qshao-pivotal commented on #205
Interesting... definitely would love to hear more about your test results. Normally kubedns gets updated pretty quickly. :)

[2018-12-12 02:58] DaveSlinn commented on #205
Cloned the repo, modified the timeout of the canary test and re-deployed application with helm.  The kafka cluster seems more instable when deployed this way versus register the github pages as a helm repo and using that.  Some behaviour we were seeing a couple days ago.
![image](https://user-images.githubusercontent.com/18301427/49844058-0882c400-fd87-11e8-8521-99fad001694a.png)
At least when usi

[2018-12-12 03:17] qshao-pivotal commented on #205
There's not way to override it through commandline. But there's not that many difference between the tgz you downloaded and current master branch. I would not conclude that the unstable behavior is from this difference. Did all service come up eventually? Note: You're supposed to run helm test after everything is up and running

[2018-12-12 19:36] DaveSlinn commented on #205
Agreed.  After many tear downs and rebuilds, using a variety of sources for the cp-helm-charts (confluent repo, forked personal repo on github and locally), there is no correlation between which chart source were used and whether the cluster will ever stabilize.

* It depends.  😉

We have discovered through trial-and-error that the key factor of whether the spun up kafka cluster will stabilize is

[2018-12-12 19:36] #205 closed

[2018-12-13 15:07] srolija commented on #205
Hi, we seem to have the exact issue and I think we might have the solution.
Whenever upgrading the chart, our instances would randomly sometimes work great, other times they wouldn't start at all. And just like you mentioned, after few restarts (or killing process on the pod), they would get up and running.

After reading the following links (especially first one), we have some ideas on what happe

[2018-12-18 12:10] aaron-comyn commented on #107
For anyone else that bumped into this, checkout: https://github.com/confluentinc/cp-helm-charts/issues/199

The repo was down for a minute.  Afterwards note that "confluentinc" has been changed to "confluent" :)

[2018-12-18 15:47] Amit-Thawait opened #210 "[Feature Request] Integrate control-center in cp-helm-chart"
Current helm chart of Confluent Kafka doesn't have control center bundled in it. It would be nice to have control center chart integrated in the cp-helm-chart itself as it is there in the https://github.com/confluentinc/cp-demo

[2018-12-18 17:59] cricket007 commented on #192
Duplicates #85 ?

[2018-12-18 18:02] cricket007 commented on #164
Well, this "feature" is already there... Just requires more YAML

[2018-12-19 17:56] nysthee commented on #203
What specs do you have in terms of memory / cpu for brokers and zookeeper?
What load are you putting on the system?

[2018-12-19 17:58] nysthee commented on #202
Maybe this can help: https://stackoverflow.com/questions/47791039/backup-restore-kafka-and-zookeeper.

[2018-12-19 17:59] nysthee commented on #193
I suggest you move the issue to this repository: https://github.com/confluentinc/kafka-connect-hdfs.

[2018-12-19 18:14] Tenseiga commented on #203
My Specs are 3 broker, with 3 zookeeper nodes inside aks cluster (3 nodes  each 16 cpu/64 gb RAM).
I am pumping and 1million msgs. I see a high peak in brokers. Each broker memory is arnd 45-50 gb. My issue is the memory consumed is not releasing. Do i need to tweak log.flush.interval.ms?

[2018-12-19 18:17] nysthee commented on #203
Is that 1 million a second? How is your heapsize configured?

- - -
Thomas

From: Srinath <notifications@github.com>(mailto:notifications@github.com)
Reply: confluentinc/cp-helm-charts <reply@reply.github.com>(mailto:reply@reply.github.com)
Date: 19 December 2018 at 19:14:22
To: confluentinc/cp-helm-charts <cp-helm-charts@noreply.github.com>(mailto:cp-helm-charts@noreply.github.com)
CC: Thomas Nys

[2018-12-19 21:05] nysthee commented on #203
I would definetely increase the heap size. Also you can try to increase the number of disks per broker which is introduced here : https://github.com/confluentinc/cp-helm-charts/pull/191 .

- - -
Thomas

From: Srinath <notifications@github.com>(mailto:notifications@github.com)
Reply: confluentinc/cp-helm-charts <reply@reply.github.com>(mailto:reply@reply.github.com)
Date: 19 December 2018 at 19:24:

[2018-12-20 15:01] oasalonen opened #213 "Bump the chart version when making incompatible changes"
Please bump the version number in [Chart.yaml](https://github.com/confluentinc/cp-helm-charts/blob/master/Chart.yaml) when making incompatible changes to the charts (I'm aware this is still developer preview material).

I've declared a dependency to the cp-helm-charts in my own chart as follows:
[code]

Our CI/CD pipeline failed when it tried to do a `helm upgrade --install` because the configurat

[2018-12-21 20:28] tsmgeek opened #214 "New feature for multiple disks will break existing deployments"
#191
Commit: 454a4fb1453f2dc9cb70547e69645fbd874ce8e9

Note I think this change will break existing deployments as the first disk will after update be `datadir-0` instead of `datadir`. To maintain backwards compatability the first disk should remain as it was and only additional ones with new name.

[2018-12-21 21:14] gAmUssA commented on #214
@nysthee could you take a look?

[2018-12-22 12:42] guilhemmarchand opened #216 "Kafka statefulSet will not start in minikube even with persistence: false"
**Affects:**

Testing Confluent in Minikube with persistence set to false

**Issue:**

Even if persistence is set to false in values.yml, the Kafka brokers statefulSet will not start properly.

[code]

**Shows the volume issue:**

[code]

Note that the Zookeeper statefulSet start correctly.

In minikube to get things working, I had to use persistence, modify values.yml to include:

[code]

Then cr

[2018-12-22 16:50] qshao-pivotal commented on #214
Are you able to do `helm upgrade` with the change? If not, I don't see why we need to maintain.

[2018-12-22 20:56] tsmgeek commented on #214
@qshao-pivotal if anyone was to upgrade they would suddenly find themselves loosing all their queues, why not provide an upgrade path if its easy to do.
I currently do not need two disks but I saw it and realised that many could be affected if they did not realise what the chart was doing.

If you choose not to support it then there should be a note on how to manually migrate which would involve r

[2018-12-23 17:34] qshao-pivotal commented on #214
If you really tried `helm upgrade` from previous single disk version to multiple disk version, you should find an error like:
[code]
Which basically means there's no upgrade path. Having a "dir backward compatibility" doesn't make it work. In this scenario, what's the point of making it "look like" compatible while in fact there's not upgrade path? A migration path helps instead of upgrade path.

[2018-12-23 18:00] qshao-pivotal commented on #213
@gAmUssA +1 for this. We should have a release branch every time when we make a new release and have links in Chart.yaml point to that branch instead of `master`.

[2018-12-23 18:38] tsmgeek commented on #214
When you remove helm chart or STS the PVCs remain, when you re-install the chart with the same name the resulting PVC names will be the same and hence and "upgrade" can be performed, its not rolling but the only way to do it if say you wanted to add more volumes while keeping your existing queues.

[2018-12-23 22:06] qshao-pivotal commented on #210
This helm chart will only deal with OSS components at least for now as I believe. @gAmUssA @mikkin for more info.

[2018-12-23 22:41] salehmashal commented on #119
kurktchiev I agree with you, but now istio has these features but I don't know if the sidecar proxy (envoy) is compatible with kafka protocol or not. If it's compatible, it will be a great not only for exposing kafka-connect, kafka-rest and kafka-registry but even controls the communication with kafka from security perspective and traceability of the communication.

[2018-12-23 22:53] qshao-pivotal commented on #214
I tend to not include this since it's not a typical upgrade scenario since it unnecessarily adds complexity just to maintain a "back compatible" log directory, breaks naming conversion of log dirs. In scenario of removing PVCs after `helm delete --purge`, it's still not helping. I admit this(unable to upgrade from single disk to multiple disks) is due to the lack of thinking ahead. We'll think abo

[2018-12-23 22:59] qshao-pivotal commented on #119
it's not done yet. https://github.com/envoyproxy/envoy/issues/2852. I would agree with adding ingress controller for Kafka REST at current stage. Since exposing Kafka on k8s to outside(without DNS) is still tricky. Using Kafka REST Proxy seems to be the most ideal/cleanest way for apps sitting outside of k8s.

[2018-12-23 23:45] nysthee commented on #214
I agree versioning should be the way forward!
Ideally releasing / packaging should be done automatically.
Not sure if a full blown prow (or other ci/cd) is the way to go, maybe we can just start with keeping all versions in gihub, but in time this will become tedious as this will affect repo size.

[2018-12-24 16:37] gAmUssA commented on #210
@Amit-Thawait I will add this chart but I don't have ETA for you. If you under deadline, could you  take a stab on the PR? I can help to review and validate.

[2018-12-24 16:38] gAmUssA commented on #210
@Amit-Thawait FYI, we are working on Confluent operator to support all of the confluent platform components on k8s. It will be available in Q12019

[2018-12-25 09:00] Amit-Thawait commented on #210
Thanks for your reply @gAmUssA

For the time being, what I did was ..I created a deployment and a service for control-center and added the necessary env variables in the deployment by referring cp-demo example and guess what.. it worked.

I used cp-enterprise-control-center image instead of cp-control-center since cp-control-center seems to be outdated (last updated 2 years ago).

I can give it a

[2018-12-30 02:49] Aisuko opened #218 "cp-kafka requirements cp-zookeeper unbound dynamic pv"
Hi, I tried to deployed `cp-kafka` chart on my own kubernetes cluster, and I get error like this

[code]
and the `cp-zookeeper` pod descriptions below
[code]
the chart's pvc status
[code]
The reason
[code]

So ,I was solved this by adding `dataDirStorageClass` and `dataLogDirStorageClass` to `values.yaml`'s cp-zookeeper to support dynamic pv.

[code]
So, I think this may be an issue, please fix th

[2018-12-31 06:13] Tenseiga commented on #203
@nysthee : I have increased the heap size. Still the memory is not cleared after i published 1 million messages.

[2018-12-31 06:42] nysthee commented on #203
What is the size you configured it?

- - -
Thomas

From: Srinath <notifications@github.com>(mailto:notifications@github.com)
Reply: confluentinc/cp-helm-charts <reply@reply.github.com>(mailto:reply@reply.github.com)
Date: 31 December 2018 at 07:13:54
To: confluentinc/cp-helm-charts <cp-helm-charts@noreply.github.com>(mailto:cp-helm-charts@noreply.github.com)
CC: Thomas Nys <hello@thomasnys.com>(ma

[2018-12-31 06:48] Tenseiga commented on #203
I have configures -Xms1G -Xmx1G, mine is a 16 gb node x 3 node

[2018-12-31 06:58] Tenseiga commented on #203
I couldnt even publish 1 million messages. Is there any major changes been done?

[2019-01-02 13:07] lnardai commented on #216
I ran into the same issue using the official guide.
https://docs.confluent.io/current/installation/installing_cp/cp-helm-charts/docs/index.html#persistence

Managed to find a workaround. If you modify the **disksPerBroker** from the original 1 to zero, pods should start.
Example:
[code]

Error is located in this file: statefulset.yaml

`{{- range $k, $e := until $disksPerBroker }}`

[2019-01-03 07:39] srolija commented on #205
@akboyd88  Have you maybe tried our fix of changing that single line (https://github.com/confluentinc/cp-helm-charts/blob/4a62c18c30b1b53e200f77f31f25cc679ff1f9f2/charts/cp-zookeeper/templates/statefulset.yaml#L118) with those 4 in my answer above? Since applying those changes we didn't have any failures so it seems like a fix. If it helps please leave feedback so I can know whether it makes sense

[2019-01-03 22:07] noderat commented on #218
When unspecified it defaults to the 'default' storage class, if you don't have a default storage class defined then you'll run into your issue.

[2019-01-04 01:14] Aisuko commented on #218
I have been define the `storageClass: "example-nfs"`.
[code]

[2019-01-04 17:03] qshao-pivotal commented on #218
in your "example-nfs"'s definition you need annotation to make it as default storageClass.
https://kubernetes.io/docs/tasks/administer-cluster/change-default-storage-class/

[2019-01-04 17:11] qshao-pivotal commented on #216
Thanks for the catch! `persistence.enabled = false` needs to be respected. ping @nysthee the original author. Any PR fixing this is more than welcome! :)

[2019-01-04 19:02] gAmUssA commented on #210
Thanks for update @Amit-Thawait
Let me know if you need help/review.

[2019-01-04 19:03] gAmUssA commented on #214
For reference #220

[2019-01-05 11:54] Aisuko commented on #218
Thank you very much.

[2019-01-05 11:54] #218 closed

[2019-01-07 12:08] prem78bm opened #221 "kubectl get pods not running - Confluent Kafka Helm Charts on Kubernetes"
I followed the below link to install Confluent Kafka using Kubernetes Helm Charts

https://docs.confluent.io/current/installation/installing_cp/cp-helm-charts/docs/index.html#cp-helm-quickstart

When i tried to execute the following command to get the pods, i see the Status column not running for all the pods.

1.
$ **kubectl get pods**
NAME

[2019-01-10 17:19] darrengruber commented on #205
Curious why this was closed... this is exactly the problem we're running into right now.

[2019-01-10 17:31] DefunctExodus commented on #205
I am actually having the same issue as well

On Thu, Jan 10, 2019, 11:19 AM Darren Gruber <notifications@github.com
wrote:

[2019-01-10 20:15] DaveSlinn commented on #205
I marked it as closed because I couldn't point to a specific flaw in the cp-helm-charts provided by this repo, and instead chalked it up to issues with our kubernetes infrastructure.  Using the CentOS linux distro instead of Ubuntu on the k8s nodes "fixed" the problem (i.e. it didn't re-occur).

However, @srolija has indicated that there *might* be a way to fix this name resolution issue with a ch

[2019-01-10 20:48] darrengruber commented on #205
Just wanted to say you fix worked perfectly for me. Thanks for sharing.

[2019-01-10 20:50] darrengruber commented on #205
As I mentioned in the comment above (sorry for spamming so many comments), I can confirm that the fix described by @srolija has fixed the instability in this chart for me. I launch the helm chart, patch the statefulset with the new command, and watch it finish setting up immediately.

[2019-01-11 16:24] florianrusch opened #224 "Disabling of subcharts not working"
We are using `cp-helm-charts` as a dependency in our own helm chart:
`requirements.yaml`:
[code]

In the `values.yaml` file of the chart we are trying to disable the kafka-connect, kafka-rest and the ksql-server:
[code]

If we try to deploy this, the three subcharts will still be deployed.
I've already checked the generated values with `helm --debug` which looks fine for me.

Does someone has an i

[2019-01-12 19:40] amekawy-eu opened #225 "Kafka Fails with pod has unbound immediate PersistentVolumeClaims"
Hello,
I followed the steps https://docs.confluent.io/current/installation/installing_cp/cp-helm-charts/docs/index.html  to  install Kafka with the helm charts on 1.13 3 nodes kubernetes cluster
After the installation i see this:
[root@master ~]# kubectl get pods
NAME                                                   READY   STATUS    RESTART                 S   AGE
my-confluent-oss-canary

[2019-01-12 21:15] amekawy-eu commented on #225
when checking the pvc all is pending
[root@master ~]# kubectl get pv
NAME             CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS      CLAIM   STORAGECLASS   REASON   AGE
task-pv-volume   25Gi       RWO            Retain           Available           manual                  13s
[root@master ~]#  kubectl get pvc
NAME                                         STATUS    VOLUME   CAPACITY   ACCESS

[2019-01-14 11:55] florianrusch commented on #224
Interesting...this looks to be working:

[code]

But why? `kafka-rest`, `kafka-connect` and `ksql-server` are dependencies of the `cp-helm-charts` chart. So the path should be `cp-helm-charts.cp-kafka-rest.enabled` or not?

[2019-01-15 01:55] andyrhee commented on #225
Looks like a storageClass issue.  What do you get when you run `kubectl get storageClass manual -o yaml`?  Are you installing this on AWS or other clouds?  If so, `kubectl get storageClass` should show at least the default one.

[2019-01-15 21:21] mplascencia-mb opened #227 "Confluent Cloud Configuration for KSQL Helm chart"
When attempting to configure KSQL to connect to a Confluent Cloud instance using the helm chart at [KSQL Helm Chart](https://github.com/confluentinc/cp-helm-charts/tree/master/charts/cp-ksql-server), I could not find parameters for:

- ksql.sink.replicas
- ksql.streams.replication.factor
- listeners
- security.protocol
- sasl.jaas.config

The documentation for connecting KSQL to Confluent Cloud is

[2019-01-15 22:04] #216 closed

[2019-01-15 22:06] #130 closed

[2019-01-15 22:57] guilhemmarchand commented on #216
Thanks ;-)

[2019-01-16 18:41] amekawy-eu commented on #225
thanks a lot Andyrhee
[root@master ~]# kubectl get storageClass
No resources found.
this is a cluster created on google cloud VMs but through kubeadm

[2019-01-19 02:00] andyrhee commented on #225
Hi @amekawy-eu ,

Sorry, I got sick and couldn't get back to you quickly.  I'm not using Google cloud, but I think you can use one of the gke examples here:
https://github.com/Yolean/kubernetes-kafka/tree/master/configure

For example, run the following command to create an sc named kafka-broker:
[code]
Then use the sc name (kafka-broker) as the value for StorageClass in the values.yaml file, etc.

[2019-01-22 14:42] amekawy-eu commented on #225
sorry @Andyrhee for taking long, i hope you recover
i am working on it and will update as currently facing issues with the cluster
thanks a lot

[2019-01-22 18:50] wktmeow commented on #129
I was able to get it working for local testing purposes, I've pushed my latest updates to my fork linked above.  You'll need to install the chart from local dir, and you'll want to run certs.sh and client-certs.sh, updating the variables at the top of each script with your domain's specifics.  I've also included my values.yaml that worked for me, but with my specific domain changed to 'domain.com'

[2019-01-22 23:37] planetf1 opened #232 "Can't seem to avoid LEADER_NOT_AVAILABLE when using cp-kafka chart"
I have included the kafka chart into a chart of mine, but am struggling with getting LEADER_NOT_AVAILABLE when using a (java) producer to post messages to the topic.

In the past (non k8s) the issue may have been 'advertised.listeners'

If I take one of my nodes I can see
 cat kafka.properties
broker.id=0
heap.opts=-Xms512M -Xmx512M
advertised.listeners=PLAINTEXT://172.30.214.214:9092,EXTERNAL://1

[2019-01-22 23:42] planetf1 commented on #232
More DNS info:

# nslookup

102.193.30.172.in-addr.arpa	name = winning-maltese-cp-kafka-1.winning-maltese-cp-kafka-headless.default.svc.cluster.local.

Authoritative answers can be found from:

214.214.30.172.in-addr.arpa	name = winning-maltese-cp-kafka-0.winning-maltese-cp-kafka-headless.default.svc.cluster.local.

Authoritative answers can be found from:

81.26.30.172.in-addr.arpa	name = winning

[2019-01-22 23:43] planetf1 commented on #232
[code]

[2019-01-22 23:45] planetf1 commented on #232
[code]

[2019-01-23 09:46] amekawy-eu commented on #225
thanks a lot @andyrhee, it worked pretty good 👍  thanks for your great help

[2019-01-23 09:46] #225 closed

[2019-01-23 17:29] planetf1 commented on #232
The problem is resolved. these errors were only seen early on in startup. We now wait until kafka is ready, and are now also targetting the service address (not headless service) properly.

As such now closing this issue.

[2019-01-23 17:29] #232 closed

[2019-01-23 22:58] kurtostfeld opened #233 "Published cp-helm-charts-0.1.0.tgz is old and doesn't have latest fixes and commits."
Doing either

`helm fetch --debug confluent/cp-helm-charts`

or

`curl -O https://confluentinc.github.io/cp-helm-charts/cp-helm-charts-0.1.0.tgz`

results in an old chart archive that doesn't have the latest fixes. I was specifically looking for the following commit fix: https://github.com/confluentinc/cp-helm-charts/commit/4c17ac3023f193118545e552da5d7ca85eb6a25a

I can verify I get the old versi

[2019-01-24 00:04] gAmUssA commented on #233
@kurtostfeld work on automatic build and versioning of helm charts is still in progress.
as workaround I recommend to have a local copy of repo and build charts locally.
Thank you

[2019-01-24 00:04] #227 closed

[2019-01-29 13:35] llevar opened #235 "Using large values in configurationOverrides causes conversion to scientific notation and crashes broker on startup"
Install kafka chart with overridden values

[code]

Kafka broker pods crash with errors in log:

[code]

Config values for pod end up being:

[code]

It looks like the large integer value gets converted to scientific notation at some point which trips up the broker.

[2019-01-30 11:45] omervk opened #236 "Having less than three Kafka brokers fails"
Running `helm install --name cp --set cp-kafka.brokers=1 confluentinc/cp-helm-charts` fails with the log errors:

[code]

After adding `--set cp-kafka.configurationOverrides.offsets\\.topic\\.replication\\.factor=1`, things work.

[2019-01-30 15:05] costa commented on #129
I've successfully set the following values
[code]
only to discover I can't "volume"ize `/var/private`... damn

Any ideas as to how to do this with the official charts?
Any estimation on actually being able to do this with the official charts?

Thanks all!

[2019-01-31 14:05] costa commented on #129
@wktmeow thank you for your reply.

ok, a bit of context: at the moment, i'm interested in securing the rest proxy endpoint only, nothing else in the chart is going to be external and the internal communication is of much less interest from the security perspective to me right now.
now i would like to have my owns means of control what goes in the "*store"s since i'd like to use the existing rest

[2019-01-31 18:55] wktmeow commented on #129
@costa Actually my WIP did not yet even include the HTTPS piece for any of the components, was going to get to it later but have been preoccupied with other work stuff.  I did take a quick stab at it, if you'd like to have a look:  https://github.com/wktmeow/cp-helm-charts/tree/rest-ssl

I haven't had a chance to test, but this *should* get you going if you create a certs folder at the root of the

[2019-02-04 13:38] costa commented on #129
@wktmeow thank you soo much! now the devil is apparently in the details, since i couldn't find anything in your branch i haven't tried myself. also, `listeners` is apparently essential and you branch doesn't have it yet. now i'm probably a little lost in the java universe, since I couldn't figure what was the deal with `keytool` not allowing different `deststorepass` and `destkeypass`, and the kaf

[2019-02-04 20:18] llevar opened #237 "Prometheus scrape config that makes the dashboard work is missing"
I've been trying to follow the documentation to get kafka monitoring via prometheus and grafana working. Kafka is working, prometheus is working, grafana is working, but the prometheus configurations that actually scrape the kafka metrics such that the grafana dashboard would work are missing. Without the scrape configuration prometheus does not scrape the JMX metrics exposed by kafka, zookeeper,

[2019-02-06 14:45] costa commented on #129
Ok, I hope this gets resolved soon, meanwhile, my working "solution" of
securing the rest proxy (https+auth) involves:
- creating the two JKS: https://gist.github.com/costa/f2cd91baf485f03bcee4de4c1fce7815
- pushing them into the kafka rest image: https://gist.github.com/costa/6b44941570f6a2ac86f4bd576dbd4a86
- deploying `cp-helm-charts` as a dependency or directly, while providing the passwords u

[2019-02-06 19:44] sebastianvoss opened #240 "Chart assumes stable IP address"
As the `cp-kafka`is using `POD_IP` in `KAFKA_ADVERTISED_LISTENERS` consumers are failing when a broker gets a new IP assigned (e.g. on restarts). Wouldn't it be better to use the headless service of the broker?
[code]
If so, I'm happy to submit a merge request for this.

[2019-02-07 08:39] gkocur opened #241 "JMX exporter port not exposed by services"
The jmx exporter port in most charts (schema-registry, ksql-server etc) is not exposed by service. It makes it impossible to monitor it using prometheus operator and ServiceMonitor.

[2019-02-07 15:30] salvax86 commented on #237
Hi
we use the prometheus chart from the stable repository (stable/prometheus). The image ```jimmidyson/configmap-reload``` is used there to create dynamically the scrape configuration. The annotation "prometheus/scrape: true" is already set by this chart.
For example: https://github.com/confluentinc/cp-helm-charts/blob/master/charts/cp-kafka/templates/statefulset.yaml#L26

[2019-02-07 15:33] salvax86 opened #242 "Zookeeper Update with Helm Charts"
As administrator, I do not want to go on with an update of my zookeeper cluster, if the new zookeeper node is not running.

If we had the livenessProbe (at least) for zookeeper, the zookeeper quorum is not lost by update.
Maybe we can make the livenessProbe as optional.

Greetz

[2019-02-07 22:49] gAmUssA commented on #224
@florianrusch could you submit PR with fix?

[2019-02-08 20:50] qshao-pivotal commented on #236
Would you mind making a PR of `single-broker-values.yaml` with your settings? :)

[2019-02-08 20:55] qshao-pivotal commented on #240
I thought consumers can use bootstrap-servers with current setups. https://github.com/confluentinc/cp-helm-charts/blob/master/charts/cp-kafka/templates/tests/canary-pod.yaml#L26

But I never tested consumer running with restart of brokers being triggered. Could you elaborate more on the test case and observations?

[2019-02-12 01:07] florianrusch commented on #224
@gAmUssA Thanks for your reply. I have no idea how to fix that :-/
At the moment I'm writing some exams. I hope I can test some other behaviours in some weeks or so. Sorry. Maybe someone else can test, if it's a `cp-helm-charts` or a general helm issue.

[2019-02-12 08:20] Tenseiga commented on #235
Use the values in quotes like this  "1000000000000", will fix the issue

[2019-02-14 08:08] sebastianvoss commented on #240
@qshao-pivotal bootstrap-servers is used for the initial connection to one of the brokers. After the client discovered the brokers the endpoint which is configured as advertised listener will be exchanged. From this point the client will just use those endpoints. If one of the brokers changes the IP (e.g. on pod restart in Kubernetes) the client still uses the old IP address. Using DNS names inste

[2019-02-14 20:10] nixsticks commented on #240
@sebastianvoss @qshao-pivotal I came here to see if anyone had added this issue as we are running into it as well. I saw issues with our Java producer not reconnecting when the pod IP changes, and this lasted for 20+ minutes until I killed the producer pods. I recreated this several times and each time it was fixed only when I killed the producer and restarted.

[2019-02-14 20:11] nixsticks commented on #240
A similar fix to the suggested headless service use might then also be required for external clients using the nodeports, should the brokers be moved to different hosts within the cluster.

[2019-02-14 20:14] qshao-pivotal commented on #240
@nixsticks  @sebastianvoss Thanks a lot for the explanation. Definitely would love to see a PR to fix this! :)

[2019-02-15 18:37] nixsticks commented on #240
Hey @sebastianvoss @qshao-pivotal ,

I was doing some testing with Sebastian's proposed fix and found that using a DNS name for the broker was not helping, as the original IP address to which it resolved appeared to be cached. I believe this will be fixed in 2.1.1 with https://issues.apache.org/jira/browse/KAFKA-7890 (and/or https://issues.apache.org/jira/browse/KAFKA-7755 for the case where we us

[2019-02-16 16:01] sebastianvoss commented on #240
@nixsticks You are right about the bug in the latest version of the Kafka Java client (KAFKA-7755). This is already resolved and will be part of the next release end of Feb. But to benefit from this solution we still need to use DNS names in `cp-kafka`. Otherwise clients will still be stuck when the broker gets restarted and receives a new IP.

[2019-02-17 03:27] qshao-pivotal commented on #241
It works with the prometheus installed through Helm chart... I'm under the impression that prometheus works with annotations not services...

[2019-02-17 03:30] qshao-pivotal commented on #242
Could you explain more on how livenessprobe prevents the lost of quorum? I didn't get it very clearly.

[2019-02-17 03:34] qshao-pivotal commented on #240
Relying on DNS is better than replying on IP, so I would say let's make the change to`cp-kafka` anyway. :) Thanks for the investigation!

[2019-02-17 18:00] nixsticks commented on #240
@sebastianvoss Right, but won't KAFKA-7890 fix the issue where clients get stuck when the broker receives a new IP without using DNS? I believe KAFKA-7755 fixes the issue where IPs change underneath the DNS name but KAFKA-7890 fixes the issue where IP changes without using DNS or the DNS name itself changes.

I agree though with @qshao-pivotal that we should change it anyway.

[2019-02-17 22:42] sebastianvoss commented on #240
AFAIK when advertised listeners contain the plain IP address the Kafka client has no way to find out the new IP. Technically this is only possible when we use DNS names which gives the client a way to re-resolve the new IP address (depends on the fix addressed by KAFKA-7755).

I submitted a pull request to use DNS of the headless service.

[2019-02-19 04:59] qshao-pivotal commented on #164
I would recommend handling Kafka internal operation separately from a setup helm chart.(a parent chart of setup+ topic creation, or an extra step in pipeline after installation)

[2019-02-19 04:59] #164 closed

[2019-02-19 05:01] #184 closed

[2019-02-19 05:01] #185 closed

[2019-02-19 05:02] #193 closed

[2019-02-19 16:25] nixsticks commented on #240
Oh interesting, @sebastianvoss. Thanks for the explanation.

[2019-02-20 17:49] nixsticks commented on #240
For your interest @sebastianvoss: 2.1.1 was released yesterday, and I tested the current chart with the MirrorMaker Java producer. It seems able to resolve the new IP address without DNS (in my cluster, advertised listeners = pod IP). I will look around in the code to confirm this if I get some time, just out of curiosity on my own part.

[2019-02-20 18:18] tamarintech commented on #208
I would also very much appreciate this feature. We need finer-grained configurable control for the matchselectors in our environment to avoid putting Kafka brokers on heavy traffic nodes.

[2019-02-20 19:08] sebastianvoss commented on #240
@nixsticks, that is interesting. I'm wondering where it gets the new IP from. The only thing I could think of, it might fall back to `bootstrap.servers` to reinitiate? If you find it out, keep us posted.

[2019-02-20 19:12] noderat commented on #241
@qshao-pivotal The new recommended path of using the prometheus-operator depends on services being exposed instead of the annotations.

@gkocur I've ran into this issue as well which we discovered late in the game and had to tweak manually post-deploy. I'm looking into creating a PR for this but I'm not sure if there is a common naming convention that the community has settled on for naming these

[2019-02-20 21:30] qshao-pivotal commented on #241
Got it. Thanks a lot for the explanation. Add https://coreos.com/operators/prometheus/docs/latest/user-guides/running-exporters.html for reference.
Should it be 1 service per exporter container OR we could use one service for a cluster(e.g. 1 service for a 3 nodes kafka, 1 service for 3 nodes zookeeper, 1 for all kafka schema containers)?

No naming convention at this point yet... I would recommen

[2019-02-21 13:17] rondicus commented on #224
The subcharts are disabled in the requirements.yaml conditions, which point to `cp-ksql-server.enabled`, etc. instead of `cp-helm-charts.cp-ksql-server.enabled`.

This is why `cp-ksql-server.enabled` is working

[2019-02-22 15:19] planetf1 opened #249 "cp-helm-charts on repo site are a fair bit behind github"
Chart respository for cp-kafka is not updated with current charts

I tried using the cp-helm-charts as from the repository https://confluentinc.github.io/cp-helm-charts/index.yaml

I was having some trouble with my broker going into error state and as part of the checks I was verifying if I was running the current code

I note that the archive files are a little old now compared to what is on gith

[2019-02-22 17:53] dojadop commented on #241
Another option is to add a secondary port on the existing services for each of the charts.  I did a proof of concept on the cp-kafka-connect chart and I call the port `metrics` which references the `prometheus.jmx.port` value

[code]

And then to monitor it with prometheus operator here is my ServiceMonitor definition
[code]

[2019-02-22 20:13] qshao-pivotal commented on #241
+1 for @dojadop approach

[2019-02-24 13:20] pratapagiri commented on #164
@qshao-pivotal
I have a solution using configmap and job for topics creation. Can I submit PR?

[2019-02-25 09:19] salvax86 commented on #242
Sorry for the late reply:
With the poddisruptionbudget (This is present with the helm chart) I say the maximum unavailable pods in statefulset are 1. When updating the pods are updated without waiting for the pods to start successfully. With a ZookeeperEnsemble of 3 you can lose the quorum when the second container is updated. Readiness and AlivenessProbe can help to wait for a successful update.

[2019-02-25 09:56] Zefool commented on #242
In other words, the PodDisruptionBudget as is will only test for "has the image been pulled and started", which is insufficient for a working node.

LivenessProbes would help us register a pod as healthy if and only if it actually is part of the cluster.

[2019-02-25 20:34] shadysoliman commented on #129
@wktmeow , I'm trying to deploy your https://github.com/wktmeow/cp-helm-charts/tree/rest-ssl, but I'm getting the following error:
Error: YAML parse error on cp-helm-charts/charts/cp-kafka-rest/templates/deployment.yaml: error converting YAML to JSON: yaml: line 65: mapping values are not allowed in this context

Any idea what could be the issue ?

Regards
Shady Soliman

[2019-02-26 23:09] florianrusch commented on #224
I found an issue in the helm repo where this problem is already discussed: https://github.com/helm/helm/issues/4490

It seams to be an helm issue, not an issue of this specific helm chart.

[2019-02-26 23:09] #224 closed

[2019-03-04 18:24] qshao-pivotal commented on #242
We did have liveness probe and readiness probe before, but removed since don't have enough time to figure out the proper values for those. I got brokers restarted because of failing to pass liveness probe during a performance testing, we decided to remove it for now and added later until we really have a good practical numbers for them. I would recommend a PR with liveness/readiness probe of zooke

[2019-03-07 11:02] jeroenr opened #251 "Question: why do we need the ClusterIP service for client?"
I'm confused on why we need this additional ClusterIP service for clients to connect to. They can just use the headless service, right?

Please enlighten me :)

[2019-03-09 00:46] tamarintech commented on #249
I'm currently sorely missing the additionalports functionality in the newer charts.

It looks like there are PRs to the individual charts adding features. Should we be backporting features into the existing charts?

[2019-03-11 20:26] qshao-pivotal commented on #242
Actually, are you seeing quorum lost in your test? I would love to see the logs. Since a simple liveness and readiness probe won't help with the scenario "quorum lost" scenario unless your liveness/readiness probe does check the status of the "cluster" instead of status of a single pod.

[2019-03-11 20:27] #235 closed

[2019-03-11 20:27] #240 closed

[2019-03-12 09:16] salvax86 commented on #242
Honestly, I thought the same thing and my first thought was to use the zookeeper-shell to check the cluster status.

I start today with a task for stability. I will begin with the actual cp-helmet-chart and attach the logs.

[2019-03-12 22:24] grebois commented on #205
@qshao-pivotal @srolija is it possible that the PR of this fix https://github.com/confluentinc/cp-helm-charts/pull/226 is not yet on https://confluentinc.github.io/cp-helm-charts/ ?

[2019-03-13 10:04] srolija commented on #205
It is on the master:
https://github.com/confluentinc/cp-helm-charts/blob/master/charts/cp-zookeeper/templates/statefulset.yaml
However, it doesn't seem to be on any tagged release yet (latest seems to be 5.0.1-1):
https://github.com/confluentinc/cp-helm-charts/blob/v5.0.1-1/charts/cp-zookeeper/templates/statefulset.yaml
I am not sure which one helm fetches by default, on our infra, we are manually

[2019-03-13 10:27] grebois commented on #205
@gAmUssA could we have a minor/patch release? we are using the charts from https://confluentinc.github.io/cp-helm-charts/

cc @qshao-pivotal @yangxi @nixsticks @coughman

[2019-03-14 12:11] tsmgeek commented on #214
@qshao-pivotal seems someone released this in 0.1.x so now its not possible to upgrade existing deployments due to statefulset constraints.

[2019-03-14 14:58] salvax86 commented on #242
Sorry for late reply.

I write a test with coyote to simulate several edge cases on my microk8s machine.
First I add the confluent repo and install the helm chart. Then I wait for five minutes in order to wait that all services are well connected. After that I update zookeeper with a new image (at this moment from 5.0.1 to 5.1.2).

![image](https://user-images.githubusercontent.com/10816934/543646

[2019-03-15 11:36] deepaksood619 commented on #25
In Azure, nodes do not get external ip, so how we can use NodePorts in that scenario? How can we use LoadBalancer to access kafka from outside cluster?

[2019-03-15 11:40] deepaksood619 commented on #25
What is the difference between service and headless-service. We can use headless-service for connecting to broker from clients inside the cluster, then what is the use case of service?

[2019-03-15 12:50] deepaksood619 commented on #3
Why don't we create PodDisruptionBudget for Kafka?

[2019-03-21 08:58] maver1ck opened #259 "Ability to use hostPort"
I think that nodePort solution is not the best way of exposing Kafka to outside of cluster.

What do you think about adding hostPort for Kafka brokers ?

[2019-03-26 15:19] michelverheijen opened #263 "nodeport.firstListenerPort cannot be (easily) changed"
I installed the Confluent Platform using --set cp-kafka.nodeport.enabled=true,cp-kafka.nodeport.firstListenerPort=31190

After installation the services use the right NodePorts (31190, 31191, ...), but the stateful set xxx-cp-kafka contains:

            "name": "cp-kafka-broker",
            "image": "confluentinc/cp-kafka:5.x.y",
            "command": [
              "sh",
              "-exc",

[2019-03-26 16:23] tobias-neubert opened #264 "How to start a single node kafka cluster"
Hi,

can anybody tell me how to start only one zookeeper and one kafka broker? Given the following values.yaml file in my helm chart I can enable/disable all components but the number of brokers/servers is not adjusted accordingly. What am I doing wrong here?

[code]

[2019-03-26 21:37] mmosttler commented on #129
I tried using your fork from @wktmeow for adding ssl.  It seems it is failing to start the schema-registry due to EOF exception.   Has anyone been able to get these charts loaded with ssl added or know how to resolve this issue?

`io.confluent.kafka.schemaregistry.exceptions.SchemaRegistryException: Error initializing the ssl context for RestService at io.confluent.kafka.schemaregistry.rest.SslFac

[2019-03-28 08:56] hmeerlo opened #266 "Resize persistentvolume"
Is it possible to resize the disks for the brokers during the lifetime of the pods? I want to start with a relatively small cluster (few 100 GB's per broker), but I already know that within a few weeks the disks need to be at least a few TB's per broker. Obviously I don't want to allocate that much upfront because it is quite expensive. So can I resize the disks after the cluster has been created?

[2019-03-29 01:06] qshao-pivotal commented on #266
Is this what  you are looking for? This is more replying on k8s level
https://github.com/kubernetes/kubernetes/issues/68737

[2019-03-29 07:57] hmeerlo commented on #266
Thanks, yes that is it basically. I found that issue as well yesterday :-)

[2019-04-01 21:16] mgroves opened #269 "Trying to get started locally with minikube and a connector"
I've run into an issue with installing connectors. I am new to Kubernetes and Kafka, so I've tried to described what's going on the best I can: https://stackoverflow.com/questions/55462507/using-a-connector-with-helm-installed-kafka-confluent

[2019-04-03 09:00] davidsung commented on #210
@gAmUssA I have made a PR https://github.com/confluentinc/cp-helm-charts/pull/271, could you help reviewing it. Thanks!

Thanks @Amit-Thawait for the pointer.

[2019-04-04 09:03] KealanM commented on #249
Any update on this?

[2019-04-05 08:20] deepaksood619 opened #272 "Add PodDisruptionBudget for cp-kafka charts"
I have added a `PodDisruptionBudget` same as Zookeeper but during upgrade all `Kafka` are failed if there is a problem.

[code]

[2019-04-15 10:44] forguta opened #273 "cp-helm-charts using with pv, ERROR Disk error while locking directory"
There is no problem when I first install the cp-helm-chart. kafka, kafka-connect, schema ... everything works fine. But I get this error when Kafka's instances are restarted. How we can solve this problem?

Terminated Kafka has locked the file system.

I'm using nfs server with pv.

[code]

[2019-04-15 19:51] chuck-confluent opened #274 "Kafka Connect: Include Horizontal Pod Autoscaling"
Hi team!

We define the number of pod replicas for kafka connect [here](https://github.com/confluentinc/cp-helm-charts/blob/45e9c89e682525e46973b3e0aa4036b3103f5d94/charts/cp-kafka-connect/templates/deployment.yaml#L11), which takes its value from a `values.yml` configuration file.

By its nature, kafka connect is amenable to autoscaling. It would be nice to include [horizontal pod autoscaling](ht

[2019-04-16 19:22] DanielWozniak commented on #129
Hey @wktmeow , I tried pulling and running your repo but im having issues generating the secrets. When I run the helm charts as a whole I dont get no errors, the error shows up when I describe one of the pods which is stuck in container creating mode. The error is as follows:

`Warning  FailedMount             2m35s (x33 over 53m)  kubelet, gke-ds-services-gke-dev-default-pool-b2c6dc03-zvmz  Mount

[2019-04-24 08:46] Mitrofanov opened #277 "Kafka-Rest JMX monitoring not works as expected."
Hi guys.

Just deployed kafka-rest-proxy, and found that prometheus JMX exporter not works as expected.

After digging i found the following:

In exporter's container log:
[code]

In kafka-rest startup logs:

[code]

I use the following versions:
kafka-rest confluentinc/cp-kafka-rest:5.2.1
exporter: solsson/kafka-prometheus-jmx-exporter@sha256: 6f82e2b0464f50da8104acd7363fb9b995001ddff77d248379f87

[2019-04-25 22:38] DaveSlinn opened #280 "Helm upgrade from last release (5.0.1) to latest code on master fails with no Service with name confluent-cp-control-center found."
Download the latest bits.  When I run ``helm upgrade`` using the local charts against a previously deployed one based on the last "release" (confluent v5.0.1), I get this error:

``Upgrade "confluent" failed: no Service with the name "confluent-cp-control-center" found``

Is this expected?

[2019-04-30 13:53] dkirrane opened #282 "cp-control-center does not deploy"
` helm install confluentinc/cp-helm-charts --name my-confluent-oss`

does not deploy cp-control-center.
Setting it to enabled manually also doesn't work
`--set cp-control-center.enabled=true`

[2019-05-01 19:49] natemurthy opened #283 "Failed to pull image "confluentinc/ksql-cli:5.2.0""
Hello,

I've been testing the [ksql-demo.yaml](https://github.com/confluentinc/cp-helm-charts/blob/master/examples/ksql-demo.yaml) provided in this repo's examples folder, but am observing the following issue:

[code]

Could you please update this YAML file and/or provide herein the correct image tags to get this demo working properly?

[2019-05-02 08:57] fapaul opened #284 "Java heap configuration difference between github repo and chart repo for cp-kafka-connect"
The `cp-kafka-connect` chart exposes the `heapOptions` variable in the values file and the template source code should translate it in an environment variable:

[code]

Unfortunately, this environment configuration is not present when pulling from the official confluent chart repository. So you have to set `KAFKA_HEAP_OPTS` as a custom environment variable and the values file `heapOptions` variabl

[2019-05-04 05:26] nicknezis opened #286 "Prometheus images don't support pull policy configuration"

[2019-05-10 11:49] Bkamau opened #288 "Timed out waiting for a node assignment."
After deploying the helm chart, i cannot create topics using kafka  adminclient yet it is possible when using docker compose. Is there anything am missing? Below is the error logs.

Command:

[code]

svc:

[code]

Log:
[code]

[2019-05-10 16:39] DaveSlinn commented on #240
We have deployed kafka using the latest helm chart, and are just digging into communicating with kafka from external to kubernetes and that has us looking into the advertised listeners setting. We noticed that the new helm chart is not putting a KAFKA_ADVERTISED_LISTENERS environment variable in the kafka stateful set anymore.  Out 5.0.1 cluster stateful set has it (when it was still using the POD

[2019-05-10 18:16] sebastianvoss commented on #240
`KAFKA_ADVERTISED_LISTENERS` is still present but set at runtime using an `export` command (because the values it depends on can only be fetched this way). If you want to externally access your cluster you can configure this in `values.yaml`, e.g:

[code]

[2019-05-10 23:59] DaveSlinn commented on #240
Perfect. Worked a treat.

[2019-05-11 00:03] DaveSlinn commented on #240
However, we are now trying to deploy a second kafka instance and also expose it externally from k8s, but are getting port conflicts because those ports are in use from the first cluster.  We tried overriding the values on the helm install using --set cp-kafka.nodeport.firstListenerPort=32090, but this doesn't change advertised.listeners value.  Is there a way to modify the values.yaml to use the f

[2019-05-13 16:03] alex88 commented on #282
That's because they haven't published the latest master version to https://confluentinc.github.io/cp-helm-charts/
You can use the git repo as helm repo adding it to your local directory and use the folder as local repo

[2019-05-15 13:29] christophla commented on #282
Any idea when they are going to push it? It's in master and quite confusing when it doesn't work....

[2019-05-16 11:56] MaxWinther opened #290 "Strange 404 error in log for kafka-connect when using Kafka Connect chart"
Hi,

I get an strange 404 error, apparently from with Kafka Connect itself

[2019-05-16 10:33:52,392] INFO 10.20.40.91 - - [16/May/2019:10:33:52 +0000] "GET /health HTTP/1.1" 404 49  2 (org.apache.kafka.connect.runtime.rest.RestServer)
[2019-05-16 10:33:52,393] ERROR Uncaught exception in REST call to /health (org.apache.kafka.connect.runtime.rest.errors.ConnectExceptionMapper)
javax.ws.rs.NotFoun

[2019-05-16 12:18] Dimpison commented on #242
are there any updates on this?

[2019-05-21 09:47] KealanM commented on #249
Going to bump this issue again...

[2019-05-21 15:36] kevinkirkup opened #291 "Setting `broker` to 1 does change replica could for cp-kafka stateful-set"
If you try to set the `broker` value to 1 in either the configuration file or from the command line, helm still deploys 3 replicas.

[code]

[2019-05-21 15:42] kevinkirkup commented on #291
This works:
[code]

Seems like only the top level `values.yaml` file is being used for this. Other parameters are working as expected though.

[2019-05-21 16:06] kevinkirkup commented on #291
Looks like the default `values.yaml` file pointed to in the documentation needs to be updated.

[2019-05-21 16:41] bradw456 commented on #205
FWIW this change also helps with getting Zookeeper to run in an Istio service mesh because it listens on 0.0.0.0 instead of the resolved service address.  The service address resolves to a Pod IP and that prevents the istio-proxy/envoy instance in the Pod from connecting from localhost.

[2019-05-22 06:58] MaxWinther commented on #290
Sorry, it turned out to be an LoadBalancers polling the kafka-connect component

[2019-05-22 06:58] #290 closed

[2019-05-22 09:19] imduffy15 opened #292 "ingress for control center"
It would be nice to have an ingress definition for accessing control center.

[2019-05-23 23:07] nicknezis commented on #286
The attached Pull Request should fix this. Is anyone monitoring this repo for Pull Requests? Seems to be rather stagnant.

[2019-05-28 12:14] michelverheijen commented on #240
@DaveSlinn, see https://github.com/confluentinc/cp-helm-charts/issues/263

[2019-06-03 15:49] maurodelazeri commented on #241
+1 for @dojadop approach

[2019-06-03 15:51] jhoblitt commented on #241
+1 for the @dojadop / prometheus-operator approach

[2019-06-03 21:33] jswoods commented on #264
@tobias-neubert I think this is what you want. I also found the namespacing confusing, but I think this is because the logic for the `enabled` boolean is done as a conditional around including the sub charts.

[code]

[2019-06-03 21:36] jswoods commented on #291
@kevinkirkup I ran into this as well but this ended up working for me: https://github.com/confluentinc/cp-helm-charts/issues/264#issuecomment-498434970.

[2019-06-08 16:39] ucabsdp opened #296 "Memory leak"
Running the latest helm charts and we are experiencing exponential memory leakage in control center and broker pods. Not sure if it is related to this prometheus leak, https://github.com/braedon/prometheus-kafka-consumer-group-exporter/issues/18.

These two readouts are taken around 12hours apart

NAME                                              CPU(cores)   MEMORY(bytes)
release-1-cp-control-cen

[2019-06-10 17:51] ucabsdp commented on #296
Turning off jmx, memory leak still persists mainly in control center

[2019-06-12 22:51] sebastianvoss opened #298 "Readiness for production"
This repo is mentioning since quite some time:

Are there any plans to mark it ready for production use? We are using this chart since a while without any issues. Is there any open issues or missing features which are preventing this?

As the Operator is also not ready yet, what are the recommendations to set up Confluent in production?

[2019-06-14 18:44] xamox opened #300 "Please add versioning to top level chart."
Currently the chart values and app version is not changing (https://github.com/confluentinc/cp-helm-charts/blob/master/Chart.yaml#L5).  Anyway to rectify this?  It was very confusing when looking at the github repo suggesting to install the chart, but then come to find out the version that is in the repo was 5.0.1 and 5.2 had a fix for connect (i.e. connect was actually installed).

That way when

[2019-06-17 16:56] dadoeyad commented on #277
Same issue here. It was working on my localhost on MiniKube but not working on AWS EKS.

[2019-06-21 22:23] lazuli307 opened #302 ":9092) could not be established. Broker may not be available."
I am uisng cp-helm-charts on Google GKE 1.12.8 for external connections. There are two load balancer, the zookeeper one works, but the kafka one doesn't. The following error always show up.

Same thing happen with Kafkacat, I can create topic, but not message. I believe it has something to do with it's internal IP address.

Metadata for all topics (from broker -1: 22.22.111.111:31090/bootstrap):

[2019-06-27 05:58] kcatstack opened #303 "How to start a kafka-connect with ElasticSearch connector?"
Hi,
I want to start a kafka-connect only cluster (We already had kafka, schema-registry, i.e. installed some where else). We only need a kafka-connect to get data from that kafka to ElasticSearch.
How should I go about configuring to get this? Below is my current config. I can get the kafka-connect worker up and running but I don't know how to apply and start the ES connector:

[code]

[2019-06-27 10:23] CrystalMethod commented on #303
please have a look at the docs

https://docs.confluent.io/current/connect/kafka-connect-elasticsearch/index.html

[2019-06-29 07:16] kcatstack commented on #303
For anyone looking for answer.
At the moment of writing this comment, there are 2 ways to start a connector:
- Using REST API
- Use `confluent` CLI (which is only recommended in development mode)

[2019-06-29 07:16] #303 closed

[2019-07-01 02:56] terryf82 commented on #283
Experiencing the same problem, the image in the manifest looks to have been deprecated:

https://hub.docker.com/r/confluentinc/ksql-cli/

Swapping to _confluentinc/cp-ksql-cli:5.2.2_ lets you execute the demo properly.

[2019-07-03 23:03] leeogrady commented on #277
Experiencing the same issue running on a AWS EKS Cluster. This is in schema-registry though

[2019-07-08 14:17] cloudbow commented on #242
In k8s with eks I have the same problem with m4.xlarge machine . What I did is increase zookeeper memory and increase tickTime .

  cp-helm-charts:
    cp-kafka-rest:
      enabled: false
    cp-ksql-server:
      enabled: false
    cp-zookeeper:
      heapOptions: "-Xms1024M -Xmx1024M"
      tickTime: 10000

[2019-07-10 14:48] pckhoi commented on #199
The name has changed again. This works:
[code]

[2019-07-15 20:10] sureshoao opened #304 "prometheus-jmx-exporter is not connecting to Confluent Kafka"
kubectl logs -f kafka-cp-2 -n kafka -c prometheus-jmx-exporter

Jul 15, 2019 8:08:52 PM io.prometheus.jmx.JmxCollector collect
SEVERE: JMX scrape failed: java.io.IOException: Failed to retrieve RMIServer stub: javax.naming.ServiceUnavailableException [Root exception is java.rmi.ConnectException: Connection refused to host: localhost; nested exception is:
	java.net.ConnectException: Connection refu

[2019-07-16 02:48] sureshoao commented on #277
same issue her as well. Image:confluentinc/cp-kafka:5.2.1

[2019-07-16 13:01] mjschmidt opened #305 "Confluent helm charts not working with community Kafka"
I know that metrics is now enterprise only.

Hi I am looking to use the open source kafka helm chart. I set jmx in the cp-kafka chart to false and changed the image from enterprise to the basic cp-kafka:5.2.2, however when I helm install my kafka dies with a class not found exception. My question is what other yaml configurations need to be made to this values file to get kafka to not look for met

[2019-07-16 14:03] sureshoao commented on #277
@Mitrofanov Are you able to fix the issue?

[2019-07-22 14:35] HungUnicorn opened #307 "Ksql-server and StatefulSet"
Would it be useful to provide a helm chart for ksql-server that use statefulset?

[2019-07-24 13:52] ankit45621 commented on #235
@Tenseiga

I am using docker-compose in that i am using double quates but still getting same error. Can you please help me for this?

[2019-07-24 14:40] Tenseiga commented on #235
@ankit45621

Message.Max.Bytes is int data type. So u may assume max of 2 power 31-1 (int. Max). I assume in this case it's a genuine error. Yes in my ans i did type a lot of 0s. I  randomly types 0s :)

[2019-07-24 15:04] ankit45621 commented on #235
Is there any way to restric kafka message memory

[2019-07-24 15:13] Tenseiga commented on #235
Could you elaborate pls. Whats ur requirement??

[2019-07-30 11:41] lduparc opened #309 "Heath check"
Add liveness/readiness probe to deployment/statefulSets to ensure pods are up & running.

[2019-07-30 12:28] brunodomenici opened #310 "Kafka-REST Config"
Hi,

How to correctly pass ENV vars (or properties) to cp-kafka-rest helm chart? I don’t see values like configurationOverrides we have in cp-kafka-connect.

Thank you

[2019-07-30 14:43] brunodomenici commented on #310
I'm able to configure (with help of Slack Community) with:

[code]

But HELM keeps including the ENV:

`
KAFKA_REST_ZOOKEEPER_CONNECT=kafka-rest-cp-zookeeper-headless:2181
`

But I don't have Zookeeper exposed in my Broker env.

I've tried with cp-kafka-rest:
[code]

[code]

And without.

Thank you.

[2019-08-01 12:49] #286 closed

[2019-08-02 14:12] emy-lee opened #311 "cp-helm-chart 5.3.0 bug?"
I have installed confluent 5.3.0 via helm but I get errors.
I have created a custom values.yaml file to use cp-kafka instead of cp-enterprise-kafka, 5.3.0 instead of 5.2.2 and disabled cp-control-center.

[code]

I noticed that many people have this problem.

[code]

If I edit the template ( https://github.com/confluentinc/cp-helm-charts/blob/v5.2.2-1/charts/cp-kafka/templates/statefulset.yaml ) a

[2019-08-02 14:43] WheresAlice commented on #311
This is probably a duplicate of #305 , but this issue adds more details

[2019-08-02 14:56] emy-lee commented on #305
Hi, I have the same issue.
How did you solve this issue?
Thanks

[2019-08-02 16:34] gAmUssA commented on #311
@emy-lee try to remove config on
`KAFKA_METRIC_REPORTERS`.

https://github.com/confluentinc/cp-helm-charts/blob/51ae55d90b479a763d6a9230fa6c4d0ac548c66d/charts/cp-kafka/templates/statefulset.yaml#L114

I think we need to make configurable

[2019-08-02 17:04] gAmUssA commented on #311
@emy-lee
BTW, I don't think its bug per se (because you want to use «different image», default image is `cp-enterprise` in oder to control center to work). But I'm sure we can improve user experience and documentation in this regard.
If you want to make this configurable - like «if you want to run only community versions do that» - feel free to send a PR. I can help working on this

[2019-08-03 12:41] mjschmidt commented on #305
I did not. I still run an older version of the helm chart and instead I just uptic the version of Kafka in there. I believe i am using helmchart 1.0.0? But I think Confluent might be overwriting 1.0.0 helm chart? idk i'll let that to these folks to comment on.

[2019-08-03 12:43] mjschmidt commented on #311
@gAmUssA If we can't replace the enterprise images with the community images and having things work because images wake up and look for non existent classes, but there is also no configuration to turn that class it is looking for off. I'd argue that is a bug.

[2019-08-03 12:46] mjschmidt commented on #311
Especially since it use to work. @emy-lee as a work around, if you have the older helm chart package you can just uptic the old values file there. However, it looks like confluent may have not been versioning this helm chart package since I don't see any branches for versions and I don't think that the charts are hosted in any versioned helm repo. If I am wrong please let me know (: because right

[2019-08-03 17:46] gAmUssA commented on #311
@mjschmidt I will take a look at this next week.
If anyone wants to propose a configuration switch (ce with c3 or cc without c3) I'm willing to help out.
Cheers
Vik

[2019-08-05 07:53] codependent opened #312 "java.lang.OutOfMemoryError: Java heap space on Kafka Connect even increasing the Xmx config"
I'm trying to install Kafka Connect on Kubernetes using the provided chart but keep getting an OutOfMemoryError event though I've modified the heap config up to 8GB. I haven't modified the initial installation, no additional connector plugins, etc.

I've tried with the master branch (5.3.0) and the v5.2.2-1 tag.

Installation command: `helm install --set kafka.bootstrapServers="xxx.confluent.cloud

[2019-08-05 11:56] codependent commented on #312
It was a memory limitation in my K8s cluster, I'm closing the issue then.

[2019-08-05 11:56] #312 closed

[2019-08-05 15:07] gAmUssA commented on #312
@codependent thanks for the update!

[2019-08-09 07:26] himanshurajput32 opened #313 "Confluent Kafka operator on on-prem Kubernetes"
Hi

Can we use Confluent kafka operator over a self-managed on-prem Kubernetes cluster (v1.13)?
I found a list of providers supported by confluent operator-
https://docs.confluent.io/current/installation/operator/index.html#co-long

According to this list It's not supported but I was going through a blog from @kaiwaehner
https://dzone.com/articles/kafka-operator-for-kubernetes-confluent-operator-t

[2019-08-09 08:08] kaiwaehner commented on #313
First of all, Confluent Operator is not related to this project here (Open Source Confluent Helm Charts).

You can use Confluent Operator with any Kubernetes distribution (including self-managed vanilla K8s).
However, as the Confluent Operator docs say, you need to run Kubernetes 1.9+ (I think 1.3 did not support the required concepts / features).

[2019-08-09 08:16] himanshurajput32 commented on #313
Thanks @kaiwaehner.
Does this operator require any license and comes with commercial version only?

[2019-08-09 08:32] kaiwaehner commented on #313
Yes. Confluent Operator is a commercial product. Only 30 day trial and single node laptop version is free.

[2019-08-09 10:00] himanshurajput32 commented on #313
Thanks @kaiwaehner
Will contact sales team for the cost.

[2019-08-09 10:00] #313 closed

[2019-08-12 13:49] omanderson commented on #311
Hello Vik, any update about this issue?

[2019-08-12 15:39] gAmUssA commented on #311
@omanderson was busy lunching https://kafka-tutorials.confluent.io last week.
Hopefully will fix this week. But if you have idea how to do it - go ahead, I will review and merge.
Thank you

[2019-08-12 16:46] omanderson commented on #311
I would like to do it, but use confluent recently and I don't know how to do it.

I would like to do it, but I don't know how to do it
Thank you :)

[2019-08-12 16:54] gAmUssA commented on #307
I think it makes sense. @HungUnicorn do you want to take a stab on this PR?

[2019-08-12 16:56] gAmUssA commented on #311
@omanderson

It's not difficult.
You can use Helm's flow controls structures
https://github.com/helm/helm/blob/master/docs/chart_template_guide/control_structures.md

_IF Confluent Enterprise disabled use `cp-kafka` image and don't configure `METRICS_REPORTER` and so on._

Here is an example how it's done for ksql headless mode
- https://github.com/confluentinc/cp-helm-charts/blob/9e00f5d9b2e231ca

[2019-08-13 07:31] HungUnicorn commented on #307
cool, I would like to

[2019-08-14 16:15] jinoobaek-qz commented on #307
Just curious. Is the desire to make statefulset coming from the fact that it takes a longer time to regenerate the local state store in the event of failure?

[2019-08-15 01:04] gAmUssA commented on #307
@jinoobaek-qz check Gwen and Matthias talk from Kafka Summit. They were talking about Kstreams but also applicable to ksql https://www.confluent.io/kafka-summit-sf18/deploying-kafka-streams-applications.
They covered both stateful and stateless deployments.

[2019-08-15 19:38] jinoobaek-qz commented on #307
Very helpful. Thanks!

[2019-08-19 17:56] gAmUssA commented on #307
@HungUnicorn, @jinoobaek-qz would either of you able to work on this?

[2019-08-19 21:55] jinoobaek-qz commented on #307
Unfortunately, I do not have bandwidth to work on this at the moment.

[2019-08-20 17:39] HungUnicorn commented on #307
@gAmUssA I will send a PR. Basically will use the same approach as kafka's statefulset, that the user can decide by `persistence.enable`

[2019-08-22 20:46] jayeshmahajan commented on #277
I had that issue because one of the pod had wrong storage class name aws incorrect  that created stale entry or bad state and it got never deleted properly.

I deleted all the pods and had that healed on its own in correct sequence. zk, kafaka  and rest of all.

[2019-08-29 11:12] gohanbg opened #316 "Headless zookeeper service not reachable"
I'm trying to deploy the confluent platform on Rancher's **k3s** server. It all looks good, but when I go to the logs of any zookeeper instance I see the following:

===> ENV Variables ...
ALLOW_UNSIGNED=false
CC_CP_ZOOKEEPER_PORT=tcp://10.43.16.45:2181
CC_CP_ZOOKEEPER_PORT_2181_TCP=tcp://10.43.16.45:2181
CC_CP_ZOOKEEPER_PORT_2181_TCP_ADDR=10.43.16.45
CC_CP_ZOOKEEPER_PORT_2181_TCP_PORT=2181
CC_CP_

[2019-08-29 16:08] gohanbg commented on #316
It is a problem with k3s, rather than zookeeper. Closing the issue

[2019-08-29 16:09] #316 closed

[2019-08-29 18:24] mmanna-sapfgl opened #317 "Inconsistent Documentation/Limit for message.max.bytes and replia.fetch.max.bytes"
This is somewhat related to issue mentioned here
https://github.com/confluentinc/cp-helm-charts/issues/235

We have reproduced this by deploying the helm chart to GCP with the following settings in Values.YAML

[code]

The broker startup failed with the following exceptions:

[code]

The ask here is very simple (as Apache Kafka 2.3.0 from github doesn't have this issue):

1) The documentation on c

[2019-08-29 18:27] mmanna-sapfgl commented on #235
The ask here is very simple. The documentation is incorrect and also, if this is being converted to bits or post-processed to increase the value - a clear indication in the documentation should be present.

https://github.com/confluentinc/cp-helm-charts/issues/317

Please could you kindly clarify via this ticket what is the absolute maximum value for an INT/LONG should be for CP ?

Thanks,

[2019-09-05 09:44] fiftoine opened #318 "cp-kafka helm test - timeout"
Hi,

I created a chart with a dependency to cp-kafka from cp-helm-charts. But when I run the `helm test release-name` the canary pod fails because of the 2000ms timeout.

https://github.com/confluentinc/cp-helm-charts/blob/master/charts/cp-kafka/templates/tests/canary-pod.yaml#L26

If I run the test manually and increase the timeout, the test succeeds.

I tried increasing the number of brokers, no

[2019-09-05 16:23] mmanna-sapfgl commented on #317
We have identified the issue. It appears that if you input a number without quoting (double quotes), this is magically converted into some number which fails parsing. We used helm chart version 0.16.2.

Once the number is surrounded using double-quotes, it's working the same as standalone binary on Windows/Linux.

[2019-09-05 16:58] mmanna-sapfgl commented on #317
closing this as per previous comments.

[2019-09-05 16:58] #317 closed

[2019-09-05 20:39] the-scott-hand commented on #309
I would also like liveness/readiness probes for the deployment/statefulSets. I want to be able to verify that kafka is ready before my subscriber starts. I have been doing this using an init container to curl the http endpoint for other components readiness probes, so specifically I would like to see a readiness probe and liveness probe with an httpGet field like so:
    livenessProbe:
      httpG

[2019-09-08 14:55] shdowofdeath opened #319 "when creating new kafak instance with no volume cp-kafka is not deployed"
when creating new kafak instance with no volume cp-kafka is not deployed

[2019-09-10 02:18] gAmUssA commented on #319
closed by #320

[2019-09-10 02:18] #319 closed

[2019-09-17 16:27] the-scott-hand commented on #309
any word on this?

[2019-09-17 23:19] shivabommakanti03 opened #322 "Can we use ingress for external traffic"
Hi,

I am newly using this operator to deploy kafka and I couldn't find if confluent supports ingress for external traffic or not. Can you guys please help me on that as on the latest image values.yml i could not find loadbalancer type mentioned for kafka.

Thanks

[2019-09-23 13:17] hansel801 opened #323 "5.3.1 Image causes OOMKilled on cp-kafka-connect containers"
Tried update the cp-helm-chart to use cp-docker-images `5.3.1`

But seeing kafka connect containers to fall over with `OOMKilled`  quite quickly.
`kafka-cp-kafka-connect-dbb8cbb69-qfmmv      0/1     OOMKilled   3          5m52s`

I've also tried to increase requests/limits but same `OOMKilled` occurs. Any ideas?

[2019-09-23 16:45] hansel801 commented on #323
needed to config heap too. `heapOptions: "-Xms4G -Xmx4G"`

[2019-09-23 16:45] #323 closed

[2019-09-25 16:56] Yimengpitt opened #324 "When building Persistent Volume Claim is not using my default storageclass"
I simply install Helm Charts then
"helm repo add confluent https://confluentinc.github.io/cp-helm-charts/ "
then
"helm repo update".
But the PVC generated originally doesn't have **storageClassName** in **spec** tag. After I manually add my storageclass: **sc-gp2** in,

[2019-09-25 20:41] sgraham785 commented on #312
@codependent care to elaborate on your fix?
I am facing the same issue with heap set to  "-Xmx1G -Xms1G"

[2019-09-26 07:29] codependent commented on #312
@sgraham785 My problem was the worker nodes of my k8s cluster had 2GB of RAM so when a Kafka Connect pod was starting it obviously threw the OutOfMemoryError since it was requesting up to 8GB.

I'd suggest you increase the heap size, only 1GB seems to low.

[2019-09-26 08:56] hansel801 opened #325 "Helm fetches old Chart with imageTag: 5.0.1"
`helm fetch confluent/cp-helm-charts --untar` is an old Chart using confluentinc `5.0.1` Docker Images.

Is the chart repo going to be updated with latest Chart with latest Docker Images?

[2019-09-26 14:58] nicknezis commented on #309
Ping. This seems like a very critical feature that is needed.

[2019-09-29 14:54] vivekjain123 opened #327 "How to monitor jvm/gc ?"
We are struggling to get a stable configuration for our implementation. We are very keen on monitoring the JVM however  we couldn't get those metrics. My apologies if this is very trivial question but we have spent some days figuring out the right configuration with no luck.
I have current configuration for jvm as mentioned in https://docs.confluent.io/current/kafka/deployment.html
. We would like

[2019-09-30 09:57] iamyojimbo opened #328 "Mounting a Volume or Secret to Kafka Connect"
Maybe I'm missing something here, but say that I want to mount my own volume or secret to a Kafka Connect container, there seems to be no way in the template.

I need to mount a secret to use with the Google BigQuery connector, but there seems to be no way without somehow editing the template/forking the repo etc...

Any easy solution to this? Seems like something others want to do.

[2019-09-30 14:16] chelomontilla commented on #328
Yeah, same problem to connect to aws s3, customEnv doesn't have a way to specify secrets. Any help or idea ?

[2019-09-30 21:25] samatspothero opened #329 "Kafka-Rest Jmx config is incorrect"
Docker image is expecting configuration to be specified as KAFKAREST_JMX_PORT

https://github.com/confluentinc/cp-helm-charts/blob/5dc3317b75812f8268fa2aed26ec332ff02e8a63/charts/cp-kafka-rest/templates/deployment.yaml#L84

[2019-10-09 15:21] the-scott-hand commented on #309
Looks like this kafka helm chart has readiness and liveliness probes implemented,  [https://github.com/helm/charts/blob/master/incubator/kafka/templates/statefulset.yaml#L87-L116](https://github.com/helm/charts/blob/master/incubator/kafka/templates/statefulset.yaml#L87-L116)

[2019-10-10 08:17] chanjarster opened #334 "Chart repo is outdated"
Chart repo https://confluentinc.github.io/cp-helm-charts/index.yaml  is on version 0.1.0, but currently latest version is 0.3.0.

So please update the repo to use the latest version chart, thanks.

[2019-10-11 22:53] amri opened #335 "helm install on minikube"
Hi, I have updated the control center deployment to expose as LoadBalancer and run minikube tunnel to get the external IP, but when i open the url:9021 i didn't get anything. When I checked the log message on the control center pod, I get following:

[kafka-admin-client-thread | adminclient-1] WARN org.apache.kafka.clients.NetworkClient - [AdminClient clientId=adminclient-1] Connection to node -1

[2019-10-11 23:11] #335 closed

[2019-10-11 23:11] amri commented on #335
Sorry, the control center is up now.

[2019-10-15 03:26] Tenseiga commented on #304
same I m facing the issue as well

[2019-10-16 02:37] milanashik opened #336 "helm install confluent/cp-helm-charts validation failed"
[code]
Repo I have:
helm search cp-helm-charts
NAME                       	CHART VERSION	APP VERSION	DESCRIPTION
confluent/cp-helm-charts   	0.1.0        	1.0        	A Helm chart for Confluent Open Source
confluentinc/cp-helm-charts	0.1.0        	1.0        	A Helm chart for Confluent Open Source

Looks like we need to modify apiVersion to apps/v1 instead of apps/v1beta2.

[2019-10-16 02:55] #336 closed

[2019-10-16 15:36] anirudhreddy6 commented on #304
Any update on this?

[2019-10-21 16:42] booboothefool opened #338 "How do you use the confluent cli with this?"
I have this set up and hosted on Kubernetes. I can interact with it through the UI. But I was wondering how I run the commands I was running when testing locally like:
`confluent local load mysql-sink -- -d ./connectors/mysql-sink.json` against the Confluent Platform on Kubernetes? Is there some sort of config I can set up to hit the endpoints via cli? How are you guys interacting with it? Thanks.

[2019-10-21 17:49] #338 closed

[2019-10-23 14:04] kercdbh opened #339 "Helm 2.15 doesn't render the charts properly"
Helm 2.15 doesn't render the charts properly while all was ok with 2.14.3

My system:

Command run to render the charts from an unmodified `cp-helm-charts` cloned repo:
`helm template -f ./values.yaml ./ --name my-confluent-oss`

And here is the diff between the charts rendered with helm 2.14.3 & 2.15.0:
[code]

[2019-10-23 14:21] kercdbh commented on #339
UPDATE: Helm 2.15.1 fixed the render issue; so I guess this can be closed

[2019-10-25 00:49] badaiaqrandista opened #340 "Mounting a volume for GC log"
Can you please add a mount volume dedicated to hold GC logs and configure the application to put the GC logs in that volume?

[2019-10-28 19:50] xuanzhong opened #343 "tolerations support"
Can not find the tolerations support in values.yaml for the tainted nodes.

[2019-10-28 19:52] #343 closed

[2019-10-29 11:02] rabejens opened #344 "values.yaml is ignored"
I am trying to install the chart into a local single node cluster for testing. I want external access, so I downloaded the default `values.yaml`, and set:

[code]

I now did:
[code]

But when I do
[code]

it outputs:

[code]

Hence, it ignores the external setting in `values.yaml`.

What am I missing?

[2019-10-30 14:44] aminHatim commented on #304
I have same issue

[2019-11-05 07:41] lorenzozimolo commented on #277
Same issue here. I found a mismatch between the [deployment.yaml](https://github.com/confluentinc/cp-helm-charts/blob/master/charts/cp-kafka-rest/templates/deployment.yaml#L84) and the [launch](https://github.com/confluentinc/cp-docker-images/blob/5.3.1-post/debian/kafka-rest/include/etc/confluent/docker/launch#L31) file in the docker image.

Changing in the deployment.yaml the variable name to KA

[2019-11-13 17:22] icecold21 opened #347 "Kafka Connect: can not use SASL for producer or consumer"
How exactly we pass SASL configuration into the inside of the container for the consumer and producer,
I am trying to use Kafka connect inside my k8s cluster with confluent cloud-hosted Kafka.
Stuck when configuring SASL config for the producer and consumer.
I got the producer working already.

I tried using the overrides block and it says:
[2019-11-13 17:01:33,116] WARN The configuration 'produce

[2019-11-21 10:50] Sethuraman commented on #205
This issues seems to be happening even with @srolija fix in. I tried with the latest master and the zookeeper fails to reach a quorum. Specifically zookeeper-0 keeps failing.

These are the logs of zookeeper-0
`
[2019-11-21 10:44:41,454] WARN Cannot open channel to 2 at election address release-name-cp-zookeeper-1.release-name-cp-zookeeper-headless.default:3888 (org.apache.zookeeper.server.quorum.

[2019-11-22 10:18] srolija commented on #205
Hi, it does not seem like the same issue to me; our issue was that `zookeeper-0` would not be able to resolve itself using the external hostname (or it would resolve itself using the wrong IP), after which it would give up on joining the quorum.

The side effect was that it would happen to other instances as well, which would end up with nodes never starting up since they would never resolve.

You

[2019-11-22 11:42] Shubhendu7199 opened #351 "Exposing kafka outside GKE- Kubernetes"
Hi, I have successfully deployed kafka and zookeeper on GKE using cp-helm charts. Now, I want to expose the service, so that anyone outside the cluster can produce and consume messages. Any Idea how can I do it? **What lines should i enter and where should i enter them?** I want to use IP address in place of pod names and localhost when creating a producer or a consumer.

I tried exposing the head

[2019-11-23 14:14] tylrd commented on #351
Our use-case is to allow developers to produce/consume messages to brokers from their workstations. Set the `advertised.listeners` in your `values.yaml`:

[code]

With three brokers, port-forward in three separate terminals:

[code]

And in the client, set `bootstrap.servers`:

[code]

[2019-11-27 10:09] cricket007 commented on #292
Link #119

[2019-11-27 10:09] cricket007 commented on #322
Link #119

[2019-11-27 10:09] cricket007 commented on #351
Link #119

[2019-11-27 10:13] cricket007 commented on #305
`ConfluentMetricsReporter` reports data to ControlCenter via Protobuf, not over JMX, BTW, so turning off one would not remove the exception.

You would need to disable/remove the metrics reporters variables in the respective images.

[2019-11-27 10:17] cricket007 commented on #347
Those are just warnings.

`AdminClientConfig` isn't a producer so it doesn't recognize `producer.*` properties.

You would need to look for `ProducerConfig` in the logs to see if your SASL configs are being set correctly.

[2019-11-27 10:18] cricket007 commented on #344
Link #119

[2019-11-27 10:22] cricket007 commented on #329
It's not loaded into the config file, so it's actually just JMX_PORT

https://github.com/confluentinc/kafka-rest/blob/master/bin/kafka-rest-run-class#L53

[2019-11-27 10:23] cricket007 commented on #327
Have you tried setting up the Prometheus JMX Exporter?

[2019-11-27 19:04] mjschmidt commented on #305
ah just disable the jmx variable? I don't think that was there when I was last deploying! Good to know that got addressed now

[2019-11-27 19:06] cricket007 commented on #305
No. The JMX isn't related to the error you've posted. You must set the metrics reporter environment variables to be empty strings

[2019-11-27 19:07] mjschmidt commented on #305
yup, I see that now. Sorry I responded too quickly thank you for the guidance that is awesome.

[2019-11-27 19:10] cricket007 commented on #305
Welcome! Happy Kafka-ing 😊

[2019-11-29 14:51] procyclinsur opened #352 "Helm Chart Rendered Unusable in Kubernetes v1.16"
A warning was Announced ~5 Months ago in July urging all chart creators to update their templates due to API Deprecations in Kubernetes 1.16 that would be released released ~3 months ago in September.  ([LINK](https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/))

As this helm chart has yet to be updated, it is rendered unusable by Kubernetes v1.16.  Can someone make updates to the cha

[2019-11-29 18:46] gAmUssA commented on #352
@procyclinsur could you try this chart from master branch? This should work, PR merged last week.

[2019-11-29 20:08] mjschmidt opened #353 "documentation for helm install is no longer on confluent"
It has been removed in favor of operator. Are there still docs from before on how to deploy the helm charts?

[2019-11-29 20:13] mjschmidt commented on #305
so, how would i set this from the helm install? It looks like I have to helm fetch and untar and change specifically that values file for it to work. Shouldn't this be configurable from the higher level helm chart?

[2019-11-29 23:11] gAmUssA commented on #353
@mjschmidt docs are still in this repo, `docs` folder

[2019-11-30 16:25] mjschmidt commented on #353
Are you all accepting pull requests for keeping these docs up to date?

[2019-12-01 00:42] cricket007 commented on #305
Something like `--set customEnv KAFKA_METRICS_REPORTERS=''`

https://helm.sh/docs/topics/chart_template_guide/values_files/

[2019-12-02 03:13] procyclinsur commented on #352
@gAmUssA I cloned the master branch and then ran the following command.

[code]

Running `git show HEAD` I see the changes are indeed in the repository.  But as you can see above, the output of `template` is not correct.

[code]

[2019-12-02 07:48] bjlvfei opened #354 "The Pod were not working when installed the charts"
Hi Team,
I'm using the Helm to install the chart cp-helm-charts as wiki described
helm install --name sr confluentinc/cp-helm-charts --namespace confluent
some pods were not working

kubectl get pods --namespace confluent
NAME READY STATUS RESTARTS AGE
sr-cp-kafka-0 1/2 CrashLoopBackOff 60 5h32m
sr-cp-kafka-1 1/2 CrashLoopBackOff 60 5h32m
sr-cp-kafka-2 2/2 Running 61 5h32m
sr-cp-kafka-connect-7b87

[2019-12-02 11:59] mjschmidt commented on #305
right understood... but you can't set that param using the higher level helm values file since its a nested chart structure? Wouldn't the higher level chart have to have that value option for that to work? Maybe I am wrong here?

[2019-12-02 12:10] cricket007 commented on #354
Please show the logs of the Zookeeper pod

[2019-12-02 12:11] cricket007 commented on #354
Is your cluster healthy?

[2019-12-02 12:15] cricket007 commented on #344
I'm actually not sure I see where `external` is defined

Have you seen this section?
https://github.com/confluentinc/cp-helm-charts/blob/master/charts/cp-kafka/README.md#external-access

[2019-12-03 01:47] bjlvfei commented on #354
Yes, it's healthy.

[2019-12-03 01:51] bjlvfei commented on #354
✘ lvfei@lvfeis-mbp  ~/Documents/confluent/cp-helm-charts   master  kubectl get events -n confluent
LAST SEEN   TYPE      REASON             OBJECT                                       MESSAGE
94s         Warning   BackOff            pod/sr-cp-kafka-0                            Back-off restarting failed container
81s         Warning   BackOff            pod/sr-cp-kafka-1

[2019-12-03 02:03] cricket007 commented on #354
I'm not sure it is... The Zookeeper volumes aren't being mounted

[2019-12-03 02:35] bjlvfei commented on #354
✘ lvfei@lvfeis-mbp  ~ kubectl get pvc -n confluent
NAME                           STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS       AGE
datadir-0-sr-cp-kafka-0        Bound    pvc-c3d2a60c-0f4d-11ea-ac21-6a812fa2a75a   20Gi       RWO            ibmc-file-bronze   7d19h
datadir-0-sr-cp-kafka-1        Bound    pvc-0d3b783c-0f4e-11ea-ac21-6a812fa2a75a

[2019-12-03 03:04] cricket007 commented on #305
Right, you must add the override section, similar to #310

[2019-12-03 03:13] cricket007 commented on #310
cp-zookeeper isn't a sub-value of the kafka-rest chart

These are the only env vars that are passed

https://github.com/confluentinc/cp-helm-charts/blob/master/charts/cp-kafka-rest/templates/deployment.yaml#L72-L90

And you can find the helpers template script there that determines what value of Zookeeper string is used

[2019-12-04 14:52] luke-zhu commented on #334
Can someone with authorization run the commands in https://helm.sh/docs/topics/chart_repository/#store-charts-in-your-chart-repository

Public members probably shouldn't do this because it involves creating a tarball.

This would be a quick task that would save us a lot of effort!

[2019-12-09 10:55] rtmie commented on #205
@Sethuraman I think your issue may be relate to this: https://github.com/istio/istio/issues/19280

Solution is in the FAQ https://istio.io/faq/applications/#zookeeper

[2019-12-09 23:41] lars-tice opened #357 "helm install fails with unable to recognize """
Hello,

Running minikube with kubernetes 1.16.3-00 & helm 3.0.0.  When I run:
[code]

I get the following error:
Error: validation failed: [unable to recognize "": no matches for kind "Deployment" in version "apps/v1beta2", unable to recognize "": no matches for kind "StatefulSet" in version "apps/v1beta1"]

It looks like commit #326, should've addressed this.  But a point of confusion for me is t

[2019-12-12 23:44] gugahoi commented on #325
Would like to newer chart as well. When will they be published?

[2019-12-17 08:50] maver1ck commented on #334
Any updates here ?

[2019-12-24 02:36] bjlvfei commented on #354
The kafka pod is working now! I using the correct broker and schema registry url for kafka connect.

helm install --name connect  --namespace es ./cp-kafka-connect --set kafka.bootstrapServers="PLAINTEXT://cp-kafka-headless:9092",cp-schema-registry.url="schema-schema-registry:8081"

[2019-12-24 02:36] #354 closed

[2019-12-24 02:44] bjlvfei opened #359 "There no kafka connect process in kafka connect pod"
Hi Team,

My kafka conenct pod is work as below first line.

connect-cp-kafka-connect-76dc869bc6-mw6sk   2/2     Running   0          4m58s
cp-kafka-0                                  1/1     Running   0          48m
cp-kafka-1                                  1/1     Running   0          46m
cp-kafka-2                                  1/1     Running   0          44m
cp-zookeeper-0

[2020-01-02 13:18] OuesFa opened #360 "GCS Secret into Kafka Connect workers"
Hi,

What is the recommended way in order to upload a secrets file into Kafka Connect containers ?

May be missing something but I don't find a way to use volume mounts in the helm chart values ?

Thanks !

[2020-01-08 06:55] cgiraldo opened #362 "Do regular releases"
Hi,
Can you make regular releases of the charts and serve all of them in your helm repo?

It would be nice to install kafka through helm CLI from your helm repo, but actually the only chart in the repo (/docs folder) is version 0.1.0 from Dec 2018.

I would like to use current charts that are compatible with kubernetes 1.16, but I would like to install it from your helm repo and not the source cod

[2020-01-08 15:43] gAmUssA commented on #362
I will take a look on tidying this repo up after ok will be back from paternity leave next week.
As a reminder, It's not officially supported repo, hense support is on "best effort" basis.
Thank you for understanding

[2020-01-10 16:32] felixk commented on #357
I get the same problem. Were you able to resolve?

[2020-01-10 16:45] antwaanh opened #363 "ksql-datagen error in cp-ksql-server"
These charts are awesome! Thank you to the Confluent team!
When I `exec` in to the `cp-ksql-server-*` pod all is well, but when I attempt to use `ksql-datagen` I get an error:
[code]

Is there something I'm missing?

[2020-01-16 12:47] PPACI opened #367 "Error on new install related to headless service"
Hi cp-helm-template.

I'm currently trying to deploy the **master** branch of this repository.
I've used a raw, empty, new minikube cluster to avoid side effect.

While helm (3.0) if successfully creating the release, some of the containers are not booting properly.

For example, the pods `cp-confluent-cp-kafka-0` is crashing at boot with

[code]

I've seen other errors related to this headless se

[2020-01-16 13:51] Hmr-ramzi opened #368 "Pushing the latest versions to helm repo https://confluentinc.github.io/cp-helm-charts/"
I just checked the helm repo and the latest version i found for the chart is 0.1.0 . Is it possible to push the latest version ?

[2020-01-16 14:01] #367 closed

[2020-01-16 15:12] #368 closed

[2020-01-16 15:21] gAmUssA commented on #357
I don't believe we ever tested these charts with helm 3. @lars-tice did you have a chance to find solution?

[2020-01-16 15:22] gAmUssA commented on #353
@mjschmidt Let find rst (ugh) docs source for this and put it back

[2020-01-16 16:16] ericgoffster opened #370 "https://confluentinc.github.io/cp-helm-charts/docs/cp-helm-charts-0.1.0.tgz is 404 city"
Can't use it at all now.

[2020-01-16 16:28] ericgoffster commented on #370
It looks like this happened when 0.4.0 was deployed?

[2020-01-16 16:28] gAmUssA commented on #370
correct url https://confluentinc.github.io/cp-helm-charts/cp-helm-charts-0.1.0.tgz and https://confluentinc.github.io/cp-helm-charts/docs/cp-helm-charts-0.4.0.tgz

[2020-01-16 16:34] ericgoffster opened #371 "https://confluentinc.github.io/cp-helm-charts/docs/cp-helm-charts-0.1.0 is no longer available via helm"
I see 0.4.0 is available, but it is not backwards compatible

[2020-01-16 16:38] ericgoffster commented on #370
helm is taking something like:
  - name: cp-helm-charts
    condition: enabled.cp-helm-charts
    version: 0.1.0
    repository: https://confluentinc.github.io/cp-helm-charts

and adding the docs.  What should I be doing differently?

[2020-01-16 16:39] ericgoffster commented on #371
my configuration is

[2020-01-16 16:39] ericgoffster commented on #371
helm is taking something like:

name: cp-helm-charts
condition: enabled.cp-helm-charts
version: 0.1.0
repository: https://confluentinc.github.io/cp-helm-charts
and adding the docs. What should I be doing differently?

[2020-01-16 16:40] gAmUssA commented on #370
try

[code]

[2020-01-16 16:43] gAmUssA commented on #371
DUPLICATE of #370
Closing

[2020-01-16 16:43] #371 closed

[2020-01-16 16:43] ericgoffster commented on #370
This is a part of the requirements.yaml

[2020-01-16 16:43] ericgoffster commented on #370
in requirements.yaml I have:

[2020-01-16 16:44] ericgoffster commented on #370
- name: cp-helm-charts
    condition: enabled.cp-helm-charts
    version: 0.1.0
    repository: https://confluentinc.github.io/cp-helm-charts

What should I have instead?

[2020-01-16 16:50] ericgoffster opened #373 "https://confluentinc.github.io/cp-helm-charts/index.yaml references docs/cp-helm-charts-0.1.0.tgz"
which is now no longer valid

should be just cp-helm-charts-0.1.0.tgz

[2020-01-16 16:51] gAmUssA commented on #373
@ericgoffster dude, stop opening issues, please. I'm working with you on #370

[2020-01-16 16:51] #373 closed

[2020-01-16 16:52] ericgoffster commented on #370
pl

[2020-01-16 16:52] gAmUssA commented on #370
@ericgoffster run `helm repo update` and you should be good

`helm install confluentinc/cp-helm-charts --version 0.1.0`

[2020-01-16 16:53] gAmUssA commented on #362
released 0.4.0 for CP 5.4 #369

[2020-01-16 16:53] #362 closed

[2020-01-16 18:06] gAmUssA commented on #370
@ericgoffster could you confirm that it solves your issue?
Thank you

[2020-01-19 22:17] naseemkullah opened #374 "Install cp-kafka (and cp-zookeeper if needed) only"
Hello @gAmUssA 👋 , nice to see you here, we met at Cloud Native day Montreal through our common friend @archyufa 😄

So at Jaeger helm charts, we are looking into installing [OSS kafka as a dependency in the jaeger chart](https://github.com/jaegertracing/helm-charts/issues/27) and are interested in this confluent backed chart, however we only need kafka (and any of it's dependencies, which from my

[2020-01-20 11:01] smathew709 opened #375 "making Schema registry highly available"
We would like to have 2 Schema Registries for high availability. One as the master and other as the slave.

[2020-01-20 12:07] RobGeurds opened #376 "Customizable name for headless service"
In cp-helm-charts/charts/cp-kafka/templates/headless-service.yaml there is the following part:

metadata:
  name: {{ template "cp-kafka.fullname" . }}-headless

This forces any service to have a name xxx-headless which results in usage of this helm chart being unviable for my team unless I ask our devs to change a large number of services. Usage of the helm chart would save me a lot of hassle thou

[2020-01-22 11:08] oscarh opened #377 "Make the use of enterprise features optional"
When pull request #271 was merged, it changed the image to `cp-enterprise-kafka` image. I'm not sure what this means in terms of licenses etc. but if one want to run the open source image (`confluentinc/cp-kafka`), the only thing needed is to not include the `io.confluent.metrics.reporter.ConfluentMetricsReporter`.

I propose to wrap the inclusion of this in some kind of condition, such as `enable

[2020-01-28 11:23] reddy-s commented on #129
+1, Any updates on this?

[2020-01-29 19:17] LauraGonzalez commented on #304
+1

[2020-01-31 11:57] tamipangadil opened #381 "FailedScheduling: didn't have free ports for the requested pod ports."
I followed your installation guide here: https://docs.confluent.io/current/installation/operator/co-deployment.html and I could not install zookeeper and kafka.

Here's the event(s) for `kafka` pod:

Here's my steps:
1. Create namespace operator
2. Install operator using:

operator \
./confluent-operator -f \
./providers/aws.yaml \
--namespace operator \
--set operator.enabled=true
3. Install zook

[2020-01-31 15:53] tamipangadil commented on #381
I figured it out. It turned out that I need to have minimum 10 nodes for this testing. phew!

[2020-01-31 15:53] #381 closed

[2020-02-10 12:44] tomek0021 opened #382 "Kafka connect is missing helm configurations"
Kafka-connect deployment doesn't allow to set/override: memory limit, CPU limit, running as root.
Also it's missing some of the recommended labels described in https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#labels

[2020-02-11 17:08] Maatary opened #384 "log4j.properties ???"
Is there a way to control the kafka log4j.properties ?

I would to have the log written in stdout but also in a file, for support by confluent, and they constantly ask for:

log-cleaner.log

[2020-02-14 09:09] madhupnvl opened #386 "Is the confluentinc/cp-enterprise-kafka becomes enterprised one ?"
Hi perviously we have `image: confluentinc/cp--kafka` only but now,
`image: confluentinc/cp-enterprise-kafka`.

Is it chargeable or free ?
Do we need to buy the license ?

[2020-02-16 12:03] pavelpe opened #387 "KSQL Server fails to start due to missing "pageview_topic" topic"
Installing KSQL Server via Confluentic helm chart will cause that KSQL Server will fail to start up due to missing topics defined in `queries.sql` file.

My question is why official release forces example queries be part of KSQL Server by default and there is no explicit way to disable this behavior ?

Possible workaround that I could find until now is:
1. Setting headless option to false:

[code]

[2020-02-17 09:39] shikha0 opened #388 "external IP for kafka service"
Hi , I need to  use the ip of kafka for my other microservices. but when am deploying by this methos theres no external IP moreover when am trying with localhost everything is working fine. so can anyone help me in understanding how to set up the ext IP of lb for the Kafka here to use it in

[2020-02-18 10:10] HungUnicorn commented on #277
https://github.com/confluentinc/cp-docker-images/blob/5.3.1-post/debian/kafka-rest/include/etc/confluent/docker/launch#L33 uses JMX_PORT if KAFKAREST_JMX_PORT is not set, so should work

[2020-02-18 21:26] amit-k-yadav opened #390 "Add a way to create the connectors in cp-kafka-connect while depoying"
## Description
* As far as I know, in the distributed mode of Kafka connect (which this Helm chart supports) the only way to create connectors is to send a request to the connect endpoint (e.g http://localhost:8083/connectors).
* When deploying Kafka connect on kubernetes, to create the connectors we either:
    1. Need to use [kubectl exec](https://kubernetes.io/docs/tasks/debug-application-clust

[2020-02-18 22:15] Serk72 opened #391 "cp-kafka-connect Prometheus jmx is not accessible"
Cannot access the Promethus jmx port without modifying the service after creation
this could be changed by adding setting of a metrics port in the service here: https://github.com/confluentinc/cp-helm-charts/blob/master/charts/cp-kafka-connect/templates/service.yaml#L11
using the values set: https://github.com/confluentinc/cp-helm-charts/blob/master/charts/cp-kafka-connect/values.yaml#L74-L82
othe

[2020-02-20 11:08] HungUnicorn opened #393 "liveness and readiness for schema registry"
There is no liveness and readiness for schema registry, so there is downtime when deploying.

Here is what I use:
[code]
`initialDelaySeconds` is required because schema registry has to read kafka topic into memory.

Please lemme know if MR is welcome.

[2020-02-26 14:44] SoerenHenning commented on #241
@dojadop Can you tell if there are any best practices when to use separate services and when to use multiple ports per service?

[2020-02-26 16:17] mbrembilla opened #394 "Add annotations to cp-schema-registry service"
Hi,
I think that it would be nice to have the possibility to add annotations in the service of the schema-registry.
Something like this:
[code]

Regards
Mauro

[2020-02-26 17:31] tamipangadil opened #395 "ERROR io.confluent.admin.utils.ClusterStatus - Timed out waiting for connection to Zookeeper server [zookeeper.operator.svc.cluster.local:2181/kafka-operator]."
I'm trying to install Confluent Operator in our K8s cluster with Istio in it. Although the instruction wasn't included in their quick start guidelines, I'm hoping someone maybe came across with this problem.

Here's the steps I've done:
1. Install the cluster with minimum requirements of 10 nodes
2. Install `istio` components
2. Install the `operator` charts
3. Install `zookeeper` charts
4. Instal

[2020-02-28 13:21] danielvdende opened #396 "Kafka CLI does not work"
While trying to debug a problem with incorrect consumer offsets, I stumbled on the fact that the Kafka CLI does not work out of the box with the the Kafka cluster installed. For instance, when trying to list the consumer groups registered, I got the following error messages:
[code]

It seems that the headless kafka service can't be accessed because it doesn't have a cluster IP. I've opened a PR to

[2020-03-07 11:05] lamw opened #399 "Helm install syntax incorrect for specifying chart name"
Using `--name` is no longer valid in latest helm 3:

[code]

Syntax should be chart name and chart to install:

[code]

[2020-03-07 12:44] gAmUssA commented on #399
@lamw i didn't test this with helm3. Feel free to test and open PR explaining installation with helm3
Thanks

[2020-03-07 12:49] lamw commented on #399
I'm afraid I didn't get too far ... pods never actually end up running. I don't see any troubleshooting steps on what to look for (I've tried both stateful and stateless)

[code]

[2020-03-09 15:59] gAmUssA commented on #399
well, some logs from kafka and zookeeper pods would be useful. it looks like you may not have enough resources

[2020-03-11 04:45] #328 closed

[2020-03-11 04:45] #360 closed

[2020-03-11 14:06] shcallaway commented on #390
Sure, it would be nice if the chart created your connectors upon installation, but remember that connectors are persistent, so you only have to create them once. It could cause problems if your chart is created new (duplicate) connectors every time it is installed.

[2020-03-12 06:08] amit-k-yadav commented on #390
It makes perfect sense. This is the reason why the external scripts should be allowed to be mounted and run. We can add a logic in the exernal script to check if the connector exists and create only when it doesn't exist.

I have created a PR (here is the [link](https://github.com/confluentinc/cp-helm-charts/pull/392)) which solves this issue.

* Example script:

[code]

If you look at the above s

[2020-03-16 15:47] romanlv opened #400 "Kafka brokers run out of disk space after few days"
Running standard configuration in Google cloud with `ksql` and `connect` disabled

It works fine for several days (3-4 days) with minimum usage (it's a dev environment) but eventually something occupies all available disk space

[code]

It looks like `TRACE` log level is active for kafka brokers, but i'm not sure how to change it, tried with `KAFKA_LOG4J_ROOT_LOGLEVEL`

[code]

but it does not mak

[2020-03-16 16:02] romanlv commented on #400
Looks like setting [log.retention](https://techdocs.broadcom.com/content/broadcom/techdocs/us/en/ca-enterprise-software/it-operations-management/ca-experience-collector/2-4/troubleshooting/digital-experience-collector-troubleshooting/apache-kafka-running-out-of-disk-space.html) should help

will try
[code]

[2020-03-20 02:24] jcsky commented on #367
Hi @PPACI ,
I have the same issue, how did you resolve it?

[2020-03-20 07:03] PPACI commented on #367
I don’t remember right know. I’ll check 👍

[2020-03-22 12:32] yoonjk opened #403 "Failed to pull image "confluentinc/ksql-cli:5.4.1"
The ksql-cli has an error in ksql-demo file yaml. If you modify it as below, there is no problem.

[Problem]
image: confluentinc/ksql-cli:5.4.1

[solved]
image: confluentinc/cp-ksql-cli:5.4.1

[2020-03-22 15:59] gAmUssA commented on #403
@yoonjk could you send a PR?

[2020-03-23 17:11] yoonjk commented on #403
Okay. I will send you PR.

[2020-03-25 18:22] pratapagiri opened #405 "Unable to start cp-zookeeper"
I have downloaded cp-helm-charts (5.4.1) and deployed in my k8s cluster (1.17.4) with only kafka and zookeeker enabled.  Zookeeper is failing to start with an error.

Here are the logs:
  `
===> ENV Variables ...
ALLOW_UNSIGNED=false
COMPONENT=zookeeper
CONFLUENT_DEB_VERSION=1
CONFLUENT_PLATFORM_LABEL=
CONFLUENT_VERSION=5.4.1
CUB_CLASSPATH=/etc/confluent/docker/docker-utils.jar
DEFAULT_NGINX_INGRE

[2020-03-25 18:23] gAmUssA commented on #405
how do you install this?

[2020-03-25 18:30] pratapagiri commented on #405
I have installed using the below command:
helm upgrade --install kafkazk cp-helm-charts --values cp-helm-charts/values.yaml -n default

My values.yaml file is given below:
`
## ------------------------------------------------------
## Zookeeper
## ------------------------------------------------------
cp-zookeeper:
  enabled: true
  servers: 3
  image: confluentinc/cp-zookeeper
  imageTag: 5.4.1

[2020-03-25 20:39] gAmUssA commented on #405
I never tested this with helm3 or Kubernetes 1.17

[2020-04-02 21:13] #390 closed

[2020-04-14 10:41] ranjithwingrider commented on #399
Hi. I am able to deploy using helm v3, but only one pod is in `Error` state. While describing the pod, I am not getting any info for the error. What is the use of this pod...

[code]

[code]

[code]

[2020-04-14 18:15] jlcmendieta opened #411 "Failed to inspect image "ranchercharts/confluentinc-cp-kafka:5.3.0": rpc error: code = Unknown desc = Error response from daemon: readlink /var/lib/docker/overlay2/l: invalid argument Error: ImageInspectError"
i've got this error in my pods Failed to inspect image "ranchercharts/confluentinc-cp-kafka:5.3.0": rpc error: code = Unknown desc = Error response from daemon: readlink /var/lib/docker/overlay2/l: invalid argument
Error: ImageInspectError

Failed to inspect image "ranchercharts/confluentinc-cp-kafka-connect:5.3.0": rpc error: code = Unknown desc = Error response from daemon: readlink /var/lib/doc

[2020-04-14 18:17] gAmUssA commented on #411
not quite sure.
what's `ranchercharts`?

[2020-04-15 01:09] bjlvfei opened #412 "How to recover the s3 connector after it's shutdown"
Hi Team,

We found the s3 connector was shutdown due to node was not ready for use of k8s. How the S3 connector was recover it by itself?

[2020-04-11 16:24:34,226] INFO Shutting down S3 connector s3-cos-sink-odsprod.sods1.sales_ord (io.confluent.connect.s3.S3SinkConnector)

Levi
Thanks!

[2020-04-17 14:06] hatharom opened #415 "[cp-kafka] Is there a possibility to create topics as default after pod startup?"
I want to automate the topic creations at startup time.
I just couldnt find anything about it in the charts. I mean something like a Values.yml configuration like this:
cp-kafka:
    topics: [topic1,topic2..]

or something like an entrypoint init script like for postgres.

[2020-04-20 07:47] rtriveurbana commented on #274
up for this feature!!

[2020-04-29 05:36] cricket007 commented on #415
This is not available without an InitContainer https://duckduckgo.com/?q=k8s+init+container&t=brave&ia=web

[2020-04-29 05:37] cricket007 commented on #412
Connectors cannot restart themselves. Whether in k8s or not

[2020-04-29 05:38] cricket007 commented on #411
Looks like a fork - https://github.com/rancher/charts/tree/master/charts/kafka/v0.8.0

[2020-04-29 05:39] cricket007 commented on #400
You could also increase the Docker volume size

[2020-04-29 05:40] cricket007 commented on #393
There is an open PR in schema-registry already

[2020-04-29 05:40] cricket007 commented on #388
Did you look over the values.yml file around the `nodePort` line?

[2020-04-29 05:42] cricket007 commented on #386
You can use it for free forever on a single broker. 30 days for more than one.

https://www.confluent.io/confluent-community-license/

[2020-04-29 05:43] cricket007 commented on #386
Do you have a good reason to upgrade?

Confluent Server, Confluent Operator, or Confluent Cloud would server you better should you purchase a license, anyway

[2020-04-29 07:24] bjlvfei commented on #412
Thanks @cricket007

[2020-04-29 07:24] #412 closed

[2020-04-29 07:34] bjlvfei opened #419 "which helm chart version was support external to kafka cluster of k8s?"
Hi Team,

I'm using the cp-helm-charts v 5.3.1 to install the kafka cluster separately. we want to external client to producer or consumer message from kafka cluster.

Does the  NodePort or LoadBalancer can support that?

Thanks!
Levi

[2020-05-06 09:00] yurake commented on #304
same issue

[2020-05-06 10:31] tomek0021 commented on #318
I have the same issue, it works on version 0.1.0 of chart - but I think it might be connected to kafka image version which is 5.0.1 in 0.1.0 chart.

[2020-05-12 06:00] anish97IND opened #430 "No kafka-avro-console-producer in kafka image"
At present there is no feature to produce avro messages directly to kafka via console using kafka-avro-console-producer (or consumer for consumption of avro messages). I guess this is feature is really important for development and debugging purpose.
Please let me know if I am missing out on something due to which I am unable to use it.

[2020-05-12 12:53] gAmUssA commented on #430
Use cp-schema-registry image

An example command

https://kafka-tutorials.confluent.io/filter-a-stream-of-events/kstreams.html#consume-filtered-events-from-the-output-topic

[2020-05-12 14:13] anish97IND commented on #430
@gAmUssA
I used the cp-schema-registry image to launch pod using helm chart provided by confluentic -
https://github.com/confluentinc/cp-helm-charts/tree/master/charts/cp-schema-registry

I am launching it by connecting it to running pod of kafka using the below command -:
`helm install --set kafka.bootstrapServers="PLAINTEXT://unhinged-robin-cp-kafka-headless:9092" cp-helm-charts/charts/cp-schema

[2020-05-13 06:12] terryf82 opened #431 "New repo files prevent deployment via Rancher"
If you clone this repo and then make it available in Rancher as a catalog, any attempt to deploy fails with an error:

`Failed to install app confluent. Error: getting deployed release "confluent": release "confluent" not found`

where "confluent" is the name for the app in Rancher. Under the hood the cause is a blowout in ConfigMap size:

`[storage/driver] 2020/05/13 04:56:27 create: failed to cr

[2020-05-14 05:27] LiShangAn commented on #129
+1, Any resolves ?

[2020-05-19 10:31] LiShangAn opened #434 "not able to add SASL in Kafka Connect"
Hello,

I have downloaded cp-kafka-connect and deployed in my k8s cluster with a KafKa broker which accept secure connections. (SASL)

I would like to enable security(SASL) for Kafka Connect.

I am using ConfigMap to mount the configuration file named connect-distributed.properties into cp-kafka-connect container (in etc/kafka)

Here is the part of configuration file:
[code]
But It is failing to s

[2020-05-21 09:50] zawataki commented on #221
Did you try to create PersistentVolume?

[2020-05-22 11:13] krichter722 commented on #376
This is also relevant for migration from other charts to the Confluence chart which is probably something that Confluence wants to make as smooth as possible.

I'm willing to work on it and provide a PR. Before, I'd like to have get a feedback from the devs, though.

[2020-05-23 05:45] tirelibirefe commented on #430
try avro-client.yaml

[2020-05-25 08:20] forget6 commented on #304
+1

[2020-05-25 08:20] forget6 commented on #304
I have same issue

[2020-05-25 19:05] rodolfo-picoreti opened #437 "[Metrics] JMX Exporter Config"
Hi, currently we create one different prometheus metric for each jmx bean variation, for instance:

[code]

This approach will produce a lot of different metrics that cannot be easily aggregated to generate statistics like: what are the top 5 topics with most processing delay / bandwith consumption, etc.

IMO it would be better if we could aggregate them using labels instead.

So instead of:
[code

[2020-05-27 03:37] LiShangAn opened #438 "Kafka Connect's consumer config will be restore when running sink connector"
Hi

I have configured the kafka connect workers to use SASL/SCRAM by overriding the default producer/consumer configuration like this:

[code]
In the kafka connect log, it seems work (ConsumerConfig values is correct):
[code]
The sasl.mechanism is SCRAM-SHA-256 and security.protocol is SASL_PLAINTEXT.

But when I start a sink connector for a while, the consumer config will be restore to default:
[

[2020-05-27 03:38] #434 closed

[2020-05-27 13:01] maver1ck commented on #334
@chanjarster
I think we can close this.

[2020-05-27 16:21] shakilkumarr commented on #367
Did you find the solution. I am facing the same

[2020-05-27 19:30] PPACI commented on #367
Yes today I have a working setup.
I remember that I had issue with linkerd.
I had some namespace annotated for auto injection.
But I’m not 100% sure it was the solution.

[2020-05-28 05:55] #438 closed

[2020-05-31 05:10] scoquelin commented on #305
For the record, this is how I got it to work with Helm 3 and version `0.4.1` using `--set` from the parent chart :

`--set cp-kafka.customEnv.KAFKA_METRIC_REPORTERS=''`

[2020-06-04 10:41] srolija commented on #437
Hi, my only relation to this JMX part is the small contribution of fix for the slow JMX metrics so I am in no way any authority. As far as I can see, currently, the topic is not exported as part of metrics, instead, `name` relates to the nested metric names (ie. `bytesinpersec`, `bytesoutpersec` etc.). For this use-case, personally I feel this is a good way to export the metrics as you would rarel

[2020-06-04 12:27] rodolfo-picoreti commented on #437
Hey @srolija different types would still produce different metrics, like in the example in my first post. The only difference is that, each topic would not produce a different metric but differerent labels. Therefore, we would be able to easily do things like: create generic dashboards that can filter a specific topic or see the topic with highest throughput.

Regarding the fork, I think basic con

[2020-06-04 12:45] srolija commented on #437
I completely get the use-case, basically, this is a request to add topic as a label to existing metrics, instead of renaming anything?

I just wanted to note the possible downside, aside from potentially needing to update the Grafana Dashboard that is part of the repo. As I said I have no authority over the chart, so just wanted to give my perspective as well. Personally I would like to have a way

[2020-06-04 20:02] xxmaestroxx commented on #311
@gAmUssA

There are already multiple pull requests which try to solve this issue: https://github.com/confluentinc/cp-helm-charts/pull/436 and https://github.com/confluentinc/cp-helm-charts/pull/378 can you somehow move some focus/help on it?

Would be very helpful whenever you just want to install kafka + zookeeper without the rest.

[2020-06-07 08:37] echang0929 opened #442 "A bug in the file cp-helm-charts/charts/cp-kafka-rest/values.yaml"
There is a missing {} in the line configurationOverrides:, i.e. this line should be:

`configurationOverrides: {}`

or else, you could get errors when you added configurationOverrides: in the root values.yaml

[2020-06-08 16:49] michaelswierszcz commented on #185
why was this issue closed?

[2020-06-08 20:17] michaelswierszcz commented on #304
+1

[2020-06-08 22:13] Danny-m08 opened #443 "Kafka broker dialing to incorrect zookeeper headless service"
Different implementation between defined templates cp-zookeeper.fullname and cp-kafka.cp-zookeeper.fullname will cause kafka to dial to incorrect headless service name for zookeeper. cp-zookeeper.fullname uses just the fullname override whereas cp-kafka.cp-zookeeper.fullname uses .Release.Name-.Values.nameOverride. This will cause issues on initialization as the zookeeper headless service will be

[2020-06-17 07:52] muktavp commented on #405
Even we are facing same issue. Is this issue resolved? can we deploy cp-helm-charts in aks with auto scale enabled?

[2020-06-18 14:31] smcaine opened #445 "Grafana Dashboards - No Data"
Hi,

I have deployed this chart in to k8s cluster 1.16.11 today (tested and got same results on 1.15.*)

I have run through the steps provided in the repo README, all tests and returned results successfully.

I can access the control-center service ui and see everything healthy and all metrics.

I cant do this in prometheus, i can see a lot of metrics but when i check whats in the dashboards none

[2020-06-19 00:58] terryf82 commented on #304
For ksql I was able to get metrics to the prometheus-jmx-exporter container by adding this to the k8s deployment:

[code]

Not sure if this works for all components in Confluent Platform though?

[2020-06-19 14:56] danilorsilva commented on #298
I would like to use this helm on production too.

But there are a doc for production installs: https://docs.confluent.io/current/installation/operator/index.html#operator-about-intro

and:

You can use Confluent Operator and Confluent Control Center for a 30-day trial period without a license key.

After 30 days, Operator and Control Center require a license key. Confluent issues keys to subscribe

[2020-06-22 08:25] angelovopsan opened #446 "Occasional [main] ERROR io.confluent.admin.utils.ClusterStatus - Timed out waiting for connection to Zookeeper"
Kafka and zookeper image vesions:
[code]
helm list confluent-prod
NAME            REVISION        UPDATED                         STATUS          CHART               APP VERSION     NAMESPACE
confluent-prod  1               Tue May  5 16:53:20 2020        DEPLOYED        cp-helm-charts-0.4.11.0             kafka-prod
[code]
kubectl version
Client Version: version.Info{Major:"1", Minor:"14", GitVer

[2020-06-22 21:59] liko9 commented on #446
Can you please share the logs from all of the broker and zookeeper pods?

[2020-06-23 15:21] DanielWozniak opened #447 "Adding in second disk to Brokers"
Hi All,

I have had the cp helm charts deployed for a while now but the original allotted amount of storage is slowing dwindling. I want to add in a second disk for each broker and so I'm planning on updating
`disksPerBroker: 1` -> `disksPerBroker: 2`

Running helm diff the changes look good, but wanted to confirm if this will only create the new disks and leave the existing ones untouched (retain

[2020-06-27 16:07] michaelswierszcz commented on #445
bump

[2020-07-01 14:37] carlosjgp opened #449 "Make UpgradeStrategy, Affinity, PodDisruptionBudget and PriorityClass configurable on schema registry chart"
`UpgradeStrategy` is `RollingUpdate` by default but it's nice to be able to configure this parameter

Not being able to configure (`anti`)`affinity` is making my schema register cluster nodes being scheduled on the same node or subnet making it less reliable and failure tolerant

Not having `PodDisruptionBudget` on this chart makes the cluster less resilient causing the cluster being offline from

[2020-07-02 04:04] akjadoon commented on #445
bump

[2020-07-03 10:30] angelovopsan commented on #446
@liko9, sorry couldn't get the logs of the case. Today there was a new outage and thanks to kafka-exporter I saw that behind the error above and way before it something else is going seriously wrong, it looks the one above is after a pod is restarted, but way before it with no crash in the pods I no brokers available and many other problems. I will share in slack.

[2020-07-04 04:05] little-snow-fox opened #451 "a container name must be specified for pod my-confluent-cp-kafka-0, choose one of: [prometheus-jmx-exporter cp-kafka-broker]"
Execute:
[code]

Results:
[code]

Log:
[code]

How can I make it work properly?

[2020-07-09 19:19] michaelswierszcz commented on #451
kubectl logs my-confluent-cp-kafka-rest-7f8f844548-kw8xf [CONTAINER]

Example
kubectl logs my-confluent-cp-kafka-rest-7f8f844548-kw8xf prometheus-jmx-exporter
or
kubectl logs my-confluent-cp-kafka-rest-7f8f844548-kw8xf cp-kafka-rest-server

[2020-07-10 00:44] little-snow-fox commented on #451
Log:
[code]

Server has 10Gb of memory left.
[code]

[2020-07-11 03:47] angelovopsan commented on #446
Looks like this is fixed in 5.5.1 image, testing.

[2020-07-22 13:19] dsindatry opened #453 "Exposing Kafka outside EKS Kubernetes"
Hi, I have successfully deployed kafka and zookeeper on EKS using cp-helm charts. I have exposed the kafka service using LoadBalancers. so that anyone outside the cluster can produce and consume messages. Any Idea how can I do it? This is what i tried

################################################################################################
$ kubectl get svc -n kafka
NAME

[2020-07-24 19:33] DarkBlaez opened #454 "[Q] Additional connectors"
What is the best way to add additional connector (source and sink). It appears as would be expected that there is a limited set within the container for the cp-kafka-connect. Anyway to be in-shell for the container and install or is it best to rebuild the image with the connectors desired? makes it kludgey to rebuild if one wants to have option to add or revise connector plugins. Please advise.

T

[2020-07-25 02:59] gAmUssA commented on #454
DB,
I usually recommend extending cp-connect-base and build a custom connect image by installing the connector from the confluent hub.
Here is an example https://github.com/confluentinc/kafka-connect-datagen/blob/master/Dockerfile-confluenthub#L18

And replace this image in the connect chart.
I hope this helps.

[2020-07-27 15:18] #304 closed

[2020-07-29 04:04] wongelz commented on #451
According to:
[code]
Zookeeper isn't running. Kafka depends on zookeeper, everything else depends on kafka so they're gonna crash until zookeeper and kafka are up.

[2020-07-30 15:34] psufoxman commented on #443
Any known workaround for this?

[2020-08-01 21:34] suraj2410 commented on #395
getting the same issue. were you able to solve this?

[2020-08-03 07:48] aliadnani commented on #453
How are you trying to get data into Kafka? cp-helm-charts comes with a REST proxy instance, so you can expose that and use it to produce and consume messages. [https://docs.confluent.io/current/kafka-rest/quickstart.html](https://docs.confluent.io/current/kafka-rest/quickstart.html)

[2020-08-03 09:58] omkark95 commented on #453
@dsindatry
I have just completed it this week. :P
I have modified the values.yaml for `cp-kafka chart` using the following:
[code]

I have also create a new file `nlb-loadbalancer-service.yml`
[nlb.zip](https://github.com/confluentinc/cp-helm-charts/files/5015211/nlb.zip)

I have used external-dns to add the of loadbalancer dns to route53.

[code]

[2020-08-10 03:34] dsindatry commented on #453
@omkark95 whenever i try to produce i get the same error i did last time . it resolves to local DNS names. Thats not going to work when i am producing and consuming.

[ec2-user@ip-10-240-8-98 ~]$ kafkacat -b a72c89a81bf9942a3b0a28741bacaebc-176fa1827604bba0.elb.us-east-1.amazonaws.com:9092 -t new_topic -C
% ERROR: Local: Host resolution failure: kafka-cp-kafka-0.kafka-cp-kafka-headless.kafka:9092/

[2020-08-15 04:07] dsindatry commented on #453
@omkark95  Idont see the DNS entries getting created in route 53.
Are the below correct ?

a) helm install external-dns --set provider=aws --set aws.zoneType=private --set txtOwnerId=Z02584151D0E1BOIR --set domainFilters[0]=cidev.sas.us bitnami/external-dns

b)  dns: <DNS-HOSTED-ZONE>
Is this also the same as txtOwnerId ? (like below)
externaldns:
  dns: Z02584151D0E1BOIR

[2020-08-15 09:32] leshibily commented on #309
any updates on this?

[2020-08-19 18:45] mattfarina opened #455 "Add to Artifact Hub"
The [Artifact Hub](https://artifacthub.io/) is a place to enable discovery of Kubernetes things (like Helm charts). It is similar to the [Helm Hub](https://hub.helm.sh/) but better in many ways. I can say that as I work on both.

If you want this to be easily discovered I would suggest adding it to both hubs.

[2020-08-23 08:47] ludusrusso opened #456 "[Question] Install schema-registry only"
Hi,
I'd like to only install che `cp-schema-registry` chart, but I'm not able to do it.

Which is the correct syntax?

[2020-08-30 07:08] MEOWMEOW114 commented on #453
I tried your config yet it seems does not work
I test using `kafkacat -b {{ template "cp-kafka.name" $root }}-1.{{ $region }}.{{ $dns }} - L`

is there other config in `configurationOverrides` necessary

[2020-09-01 18:27] avikagg commented on #288
@Bkamau did you resolve this? Facing a similar issues.

[2020-09-06 06:27] mingujotemp opened #458 "Is this repo even being maintained?"
looks like this open source is not being maintained

[2020-09-06 14:10] gAmUssA commented on #458
Yes, its maintained on “best effort” basis. Whats your question @mingujotemp ?

[2020-09-07 02:15] mingujotemp commented on #458
aha, just checking

[2020-09-07 02:15] #458 closed

[2020-09-09 11:53] donton17 opened #459 "How to disable logs?"
I have started cp-helm-charts with a default persistence volume of 5 GB. After several days it will be getting full.
I was at " /opt/kafka/data-0/logs" dir. And I found that "_confluent-monitoring" took 2GB, And "_confluent-controlcenter" took 2.5GB. I think these logs are not needed. And we don't have any property for the cleanup control-center's log.

[2020-09-11 01:54] #241 closed

[2020-09-14 15:49] mehta-ankit commented on #374
@naseemkullah I think we could use this chart, and disable the components we don't need 🤔

[2020-09-14 15:54] naseemkullah commented on #374
Sure, please give that a try @mehta-ankit.

[2020-09-18 01:12] jgomez-jb commented on #277
@dadoeyad Im just facing the same, did you get to fix it?

[2020-09-18 05:52] alok87 opened #460 "Schema Registry Topic Retention how to specify in helm charts"
Every time a schema registry is created the retention policy for the topic is specified manually. How can I do this configuration  using Helm Charts?

Configurations liks
- Replication Factor of topics
- Compact Policy

Also every other day the KEY SUBJECTS data get lost? Do you know what could be the reason for same? It happens every 12-24 hours or so.

I get the response `404 Not Found: Subject

[2020-09-21 19:41] sherry-ummen commented on #405
same here

[2020-09-23 15:52] PPACI opened #461 "JMX exporter empty metrics"
Hello Confluentinc people

## Context

I want to monitor the confluentic platform using the included JMX exporter and prometheus

## Was was expected

The prometheus JMX exporter should have exported something like the following in its `/metrics` endpoint

[code]

## What I got

The JMX exporter only exported the basic JMX data

[code]

I had nothing related to `cp_kafka` at all.

This was all the

[2020-09-24 02:00] gAmUssA commented on #374
@naseemkullah you can definetly use zookeeper and kafka from here. Other components are option. as @mehta-ankit pointed you can disable the components you don't want to use.
Hope this helps

[2020-09-24 02:07] naseemkullah commented on #374
Thanks @gAmUssA

[2020-09-24 02:07] #374 closed

[2020-09-24 12:20] flxs commented on #461
I've been seeing the same behavior, but from Kafka itself. Removing the `whitelistObjectNames` section made everything show up, before I've had only the same basic data as you. In this case, this issue started when we updated to the latest version of the chart (0.5.0)

[2020-09-25 11:59] eddycharly opened #462 "Why using the headless service in kafka for zookeeper instead of the regular service ?"
https://github.com/confluentinc/cp-helm-charts/blob/38875e2d5f77eb884fffbb161d64a06819d2f0b9/charts/cp-kafka/templates/statefulset.yaml#L120-L121

Here, the headless service is used but shouldn't it be better to use the regular service instead ?
If one zookeeper pod is down, the kafka pod could think that zookeeper is down whereas there's still two pods up.

It seems to me that we should either us

[2020-09-30 14:23] donton17 opened #463 "How can I add authentication on control-center?"
I want to integrate username-password for accessing the control-center from the web. (Kafka Operator gives it)

[2020-10-01 11:47] easvera opened #464 "Confluent Kafka Panel not working in Grafana dashboard"
I had configured Grafana dashboard for getting confluent metrics. But I am not able to see anything under the Confluent Kafka Panel in grafana dashboard.

[2020-10-02 17:54] IvanovOleg opened #465 "SASL"
Hello,
Is there any example how to configure kafka brokers to accept SASL_PLAINTEXT using this chart? I've tried a lot of options, but it looks like brokers ignore **listener.name.{listenerName}.{saslMechanism}.sasl.jaas.config** property even it exists in the result kafka.properties file on the broker pod.

[2020-10-07 12:03] ducminhle commented on #464
I think it is the same issue  #461

[2020-10-08 07:42] easvera commented on #464
@ducminhle Hey can you please refer to this screenshot
![Lark20201008-130544](https://user-images.githubusercontent.com/58256799/95429388-f44e8480-0967-11eb-9b17-6740579f4957.png)
? It's just that the data what we are receiving is not supported. We are able to see all the metrics for confluent-kafka, confluent-zookeeper and we are facing this issue only with confluent-connect. We even tried modify

[2020-10-08 14:35] getElementsByName opened #466 "the meaning of the operator term (confluent operator)"
I confuse the [confluent `operator`](https://docs.confluent.io/current/installation/operator/index.html) term and the [k8s `operator`](https://kubernetes.io/docs/concepts/extend-kubernetes/operator/). Are those 2 terms the same? What is the meaning of the `operator` term in the confluent document?

[2020-10-08 14:47] gAmUssA commented on #466
Check this vids

https://youtu.be/JiDiC5MI7hw

https://youtu.be/lzFuEuqOSNM

I hope those will clarify some terminology for you

[2020-10-08 16:16] getElementsByName commented on #466
@gAmUssA
Thank you for your guide. It was great videos for me. I got that the confluent operator is k8s operator pattern.

[2020-10-08 16:16] #466 closed

[2020-10-10 21:40] ramsesrm opened #467 "[cp-ksql-server] ksql fails opening JMX port 5555 inside pod"
Hi,
it seems ksql CLI inside the cp-ksql-server pod tries to open JMX port 5555, which is already in use so the following error is printed:

Error: Exception thrown by the agent : java.rmi.server.ExportException: Port already in use: 5555; nested exception is:
	java.net.BindException: Address already in use (Bind failed)

doing an unset of JMX_PORT environment variable before running ksql fixes th

[2020-10-10 23:56] gAmUssA commented on #467
Could you kindly send a PR?

[2020-10-13 00:53] azhang commented on #445
I think you have to manually add scrapers or ServiceMonitor (in prometheus-operator) for it to work

[2020-10-13 10:17] azhang commented on #461
It's working for me, without removing `whitelistObjectNames`. 0.5.0 as well.

[2020-10-13 10:19] azhang opened #468 ""release" label in grafana dashboard."
https://github.com/confluentinc/cp-helm-charts/blob/3434a1e1ae4992a4c04b528f36408958aab6b07a/grafana-dashboard/confluent-open-source-grafana-dashboard.json#L126

Where does the release label come from? I have confirmed that I receive all the events I'm expecting, but it only contains
[code]

[2020-10-13 11:33] #468 closed

[2020-10-15 04:02] sanvir10 commented on #395
Exist update about this??, just today i start with problems with kafka.
[code]

I have 3 replicas from Zookeeper and Kafka but kafka-0 is off, on logs i see the error.

[2020-10-16 10:11] noraschaefer opened #469 "Deploy cp-ksql-server without schema registry"
We're deploying only the cp-ksql-server helm chart in our Kubernetes cluster (EKS, with MSK Kafka in AWS). And we're using it without the schema registry. There seems to be no way though to not set a schema registry url. Specifying
`
cp-schema-registry:
  url: ""
`
in the values.yaml leads to the default schema registry url being set (instead of an empty string) due to `if (index .Values "cp-schem

[2020-10-16 22:04] hershdhillon commented on #309
This feature should be added. The pods despite failing to make connections will perpetually run if there are no liveness probes included.

[2020-10-21 00:53] terryf82 commented on #395
Seeing this more and more in our clusters now too, increasing CPU / memory for the zookeeper pods doesn't seem to help.

[2020-10-21 03:21] sanvir10 commented on #395
Yes, this is not a resource problem, i tested remove istio:

[code]

and reinstall kafka and this is working now, i think in the cluster exist components that block the communication, but i'm not sure.

[2020-10-22 21:23] sheetalkhemani commented on #405
I saw something similar when deploying it using my own deployment.yaml, this seemed to have fixed it for me

        env:
        - name: KAFKA_OPTS
          value: '-Dzookeeper.4lw.commands.whitelist=*'

[2020-10-25 07:43] surajrajan-maf opened #471 "Kafka Connect Monitoring - JMX"
Hi

When we enabled prometheus monitoring with JMX exporter as sidecar, we are noticing inconsistency in the metrics data.

Scenario
When we have 3 connect worker pods running, cp_kafka_connect_connect_connector_metrics returns 18 results
If one of them is getting restarted due to failure of liveness prod then count gets decreased, cp_kafka_connect_connect_connector_metrics returns 10 results.

Is

[2020-10-25 08:47] #471 closed

[2020-10-25 09:30] surajrajan-maf opened #472 "Kakfa Connect monitoring errors"
How do we monitor for failed tasks even though connector is in running state?

I checked all the available metric without any luck.

[2020-10-25 10:01] surajrajan-maf commented on #472
Moreover i can see the status of connectors are incorrect from when I check for connect rest api and jmx

curl http://localhost:8083/connectors/typetest2.test.sandbox.final.stream.typetest/status
{"name":"typetest2.test.sandbox.final.stream.typetest","connector":{"state":"FAILED","worker_id"

Prom:
cp_kafka_connect_connect_connector_metrics{app_kubernetes_io_instance="cp-kafka-connect",app_kuberne

[2020-10-25 12:10] #472 closed

[2020-10-27 05:00] terryf82 commented on #395
Based on this discussion and a similar [thread](https://confluentcommunity.slack.com/archives/C49R61XMM/p1602230071141800) in the Confluent #ops Slack, I believe it is a [bug](https://issues.apache.org/jira/browse/ZOOKEEPER-3828) in the version of Zookeeper that Confluent is using (`3.5.8`) that is responsible.

We have successfully tested disabling _cp-zookeeper_ in these charts, and running Apac

[2020-10-30 11:48] amit-k-yadav commented on #465
I am also looking for a documentation or a guid that helps with PLAIN SASL.

I also have tried a lot of options to get it working but I failed!

[2020-10-30 14:40] amit-k-yadav opened #474 "No way to authenticate Kafka Clients"
I am trying to enable simple SASL for clients (It is okay if Brokers and Zookeepers talk to each other in PLAINTEXT as all of our traffic will always be internal) following [this guide](https://docs.confluent.io/3.0.0/kafka/sasl.html#authentication-using-sasl-plain) but I am failing to get this working.

I have modified the Dockerfile (FOR NOW) to have the required files mentioned in Confluent's d

[2020-11-02 15:41] mr-flannery commented on #459
I used the following workaround: If you take a look at the stateful set that is deployed for the broker pods, there's the following environment variable:

[code]

Removing this variable seems to have solved the problem for me (though I haven't yet observed it for the whole period that it took before for the brokers to exhaust the disk). You could also remove it from  `charts/cp-kafka/templates/sta

[2020-11-03 07:23] Janus88 commented on #347
Can anyone give me a sample values.yaml for this use case? I try to reach the same thing, but I got stuck with this error:

![image](https://user-images.githubusercontent.com/8038120/97958615-d5e47900-1dad-11eb-8307-37452bb55a93.png)

[2020-11-05 10:39] olysyuk commented on #461
I can confirm that with 0.4.1 helm chart version and imageTag: 5.4.1 it shows metrics.
Curl https://localhost:5556/metrics gives
[code]

In 0.5.0 helm chart version 5.5.0 image has missing
Curl https://localhost:5556/metrics gives
[code]

[2020-11-05 10:42] olysyuk commented on #464
Most likely the problem is with prometheus-jmx-exporter whitelist added in this commit
https://github.com/confluentinc/cp-helm-charts/commit/15e3b730476a798351c98c977329ba97044ca46e

[2020-11-17 10:41] idkw opened #476 "Confluent version 6.0.0"
Could the charts be updated to support confluent 6.0.0 which has been released recently ?
Thanks !

[2020-11-17 14:18] gAmUssA commented on #476
Hey
Highly likely this week
Thanks

[2020-11-17 21:49] andrewegel commented on #476
PR https://github.com/confluentinc/cp-helm-charts/pull/477 - @gAmUssA will work on approving & deploying tomorrow.

[2020-11-23 09:51] Durairaj commented on #476
@andrewegel  Any update when this can be released?

[2020-11-29 17:11] ArturoS159 opened #478 "Replication factor to 1 but still have 3"
Hey ;) I try to have only one broker.
I need set offsets.topic.replication.factor to 1 default is 3.
Here is my values.yaml

[code]
And still have 3 factors and error:
`[2020-11-29 17:08:04,178] ERROR [KafkaApi-0] Number of alive brokers '1' does not meet the required replication factor '3' for the transactions state topic (configured via 'transaction.state.log.replication.factor'). This error can

[2020-12-01 21:54] andrewegel commented on #476
You need to ping @gAmUssA - I send the PR, its on him to approve & deploy.

[2020-12-03 18:03] Heberth commented on #476
@gAmUssA any progress or updated expected time on this?

[2020-12-04 06:32] nguyenkien1402 opened #479 "How to enable external access"
Hi everyone,
I am a new guy in town.
I have been successfully instal cp-helm-charts on Azure Kubernetes.
I have followed a couple of article on how to enable external access but no avail.

Have anyone successfully expose cp Kafka on Azure Kubernetes?

[2020-12-08 16:59] Durairaj commented on #476
Any progress?

[2020-12-09 21:46] gAmUssA opened #480 "Migrate to Helm 3"
- [  ] validate charts with Helm 3
- [  ] change guides with Helm 3 syntax

[2020-12-09 22:00] gAmUssA commented on #476
released today with CP 6.0.1

[2020-12-09 22:00] #476 closed

[2020-12-10 08:52] neolunar7 opened #481 "Specifying producer.value.serializer in configurationOverrides doesn't seem to be reflected to actual option"
Hi, while using Kafka Connect, I'm using the helm values.yaml as below. However, all of these configurationOverrides cause WARN of `WARN The configuration ... was supplied but isn't a known config`. Referring to other issues this WARN seems to be fine. However, the other issue is that looking at `INFO ProducerConfig values` and `INFO ConsumerConfig values`, the options I specified in configuration

[2020-12-10 11:39] FIAV1 opened #482 "unknown field "dataLogDirSize""
Hi, I'm getting the following error when i try to install the deploy:
[code]

Step to reproduce:
[code]

Software versions:
- Kubernetes v1.19.4
- Helm v3.4.1

[2020-12-10 15:19] landyrev commented on #482
same on gke 1.16.15 and helm v3.2.1

[2020-12-10 16:33] hobbsh commented on #482
It's because they removed the value. You can pin to 0.5.0 but I'm assuming this needs to be PR'd and fixed if it was unintentional.

[2020-12-10 16:40] FIAV1 commented on #482
Ok, found the problem. The property has been moved under securityContext, so it isn't recognized as a valid property. I'll go on with a PR, hoping it will be merged soon.

[2020-12-10 17:57] gAmUssA commented on #482
Folks sorry for the inconvenicence. @FIAV1 thanks for the fix

[2020-12-10 17:58] #482 closed

[2020-12-10 19:56] hobbsh commented on #482
@gAmUssA it might help to implement `e2e` testing with `kind` and `chart-testing` to catch issues like this: https://github.com/helm/charts/tree/master/test

[2020-12-14 01:41] gAmUssA commented on #482
looks interesting @hobbsh
Do you want to take a stab and implement a prototype/poc? I gladly work with on this.

[2020-12-14 16:28] hobbsh commented on #482
@gAmUssA Sure, I've done a lot of work with these tools so it shouldn't be a problem. The biggest blocker I see will be the build system. Do you know if jenkins.confluent.io can run Kubernetes build pods?

[2020-12-14 18:39] gAmUssA commented on #482
@hobbsh lol. I would avoid jenkins and would try to run this on semaphore CI (some cnfl projects use this) or cirrius CI (and i use this in my personal projects).

[2020-12-14 18:41] gAmUssA opened #485 "Implement e2e testing for helm charts"
investigate and implement e2e testing using with `kind` and `chart-testing` to catch issues like this: https://github.com/helm/charts/tree/master/test

related to https://github.com/confluentinc/cp-helm-charts/issues/482

cc @hobbsh

[2020-12-14 20:47] hobbsh commented on #482
Ok great, I didn't know if that was possible or not. Thanks for clarifying!

[2020-12-29 03:42] gAmUssA commented on #329
CLOSED by #470

[2020-12-29 03:42] #329 closed

[2020-12-30 09:45] leshibily opened #487 "Kafka failed to start after Zookeeper is scaled up"
Hey Folks,

I am trying to scale Kafka and Zookeeper to 5 replicas but however, Kafka pods don't start as the logs say timed out looking for zookeeper. Please find the logs below.

**Kafka Pod Logs**
+ export KAFKA_BROKER_ID=0
+ export KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://my-connect-cp-kafka-0.my-connect-cp-kafka-headless.kafka:9092,EXTERNAL://172.31.2.76:31090
+ exec /etc/confluent/docker/run
=

[2021-01-06 20:12] archy-bold commented on #478
Looks like you also need to set the configuration for confluent metrics:

[code]

[2021-01-08 18:43] thiagoananias opened #489 "[Kubernetes and nodePort] Help acessing the brokers from my local machine"
Hello!

I have installed the confluent chart on a Kubernetes Cluster on AWS

`helm install kafka-confluent confluentinc/cp-helm-charts -f monitoring/kafka-confluent.yaml

The file
[code]

The SVC's
NAME                                    TYPE
kafka-confluent-cp-kafka                ClusterIP
kafka-confluent-cp-kafka-0-nodeport     NodePort
kafka-confluent-cp-kafka-1-nodeport     NodePort
kafka-con

[2021-01-11 14:04] thiagoananias commented on #489
Hello!

I found https://www.telepresence.io/.

It creates a pod within the cluster so i can run as if i am inside the Cluster!

[2021-01-12 13:09] #489 closed

[2021-01-21 11:13] gerbrand commented on #312
For other people who are searching the web for solution to outofmemory issues, I'd recommend to give Kafka Connect quite a lot of memory during creation of initial snapshot. That takes up a lot of memory, especially if you have large databases/tables. After a snapshot Debezium Connect starts reading the binlog which doesn't use of memory. Currently using the setting -Xmx12Gg:
`KAFKA_HEAP_OPTS=-Xms

[2021-01-27 03:20] yanglei99 commented on #474
I added the following to my values.yaml under `configurationOverrides:`

  "security.protocol": "SASL_SSL"
  "sasl.mechanism": "PLAIN"
  "sasl.jaas.config": "org.apache.kafka.common.security.plain.PlainLoginModule required username='xxx' password='yyy';"

[2021-01-28 16:47] archy-bold opened #491 "Shutting Down Safely"
I'd like to shut down Confluent during periods it's not needed. Is there a way to do that without losing state? I've tried just updating the `enabled` flags but it seems there are issues with everything coming back up. Would setting replicas to 0 work?

[2021-02-02 09:46] anragen commented on #480
When?

[2021-02-02 13:13] lmode commented on #451
Hello, I ave the same issue. However I noticed that zookeeper and kafka are down for the same reason: choose one of: [prometheus-jmx-exporter.........    Any idea what is the issue with that? Thanks regards.

[2021-02-02 13:59] little-snow-fox commented on #451
Recommend that you check your PersistentVolume config.

[2021-02-03 00:45] #451 closed

[2021-02-03 17:25] anragen commented on #445
Add ServiceMonitor for example on namespace demo

`apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: cp-kafka # or any other labels
  name: kafka-connect
spec:
  selector:
    matchLabels:   # select the Kafka Service
      release: demo-kafka # or any other selector
  namespaceSelector:
    matchNames:
    - demo
  endpoints:
    - port: metrics`

[2021-02-03 17:27] anragen commented on #237
annotation is not work on prometheus. Only servicemonitor

[2021-02-08 08:57] ruiengana opened #493 "Add InitContainer support in Kafka Connect"
When your cp-kafka-connect deployment need some custom connectors there isn't a way to inject custom connector without creating your own image (afaik override command method is not feasible in Helm.

A quick an simple way to resolve this is to allow a InitContainer (e.g. confluent-cli) to run on cp-kafka-connect deployment to setup custom connectors for main container.

[2021-02-08 09:24] byomkesh99 commented on #129
Any resolution on it, if anyone knows any link it would be a great help.
Here I have one link, but not explained fully.

https://medium.com/weareservian/encryption-authentication-and-external-access-for-confluent-kafka-on-kubernetes-69c723a612fc

[2021-02-08 16:30] vrakosky opened #494 "Add lifecycle postStart/preStop support in Kafka connect helm chart"
## Description
As far as I know, in the distributed mode of KC, the only way to create connectors is to send a request to the KC service endpoint (e.g http://localhost:8083/connectors). As this step is not automated with the Helm chart (cp-kafka-connect), here the suggestion.

## Suggestion
In order to start/stop connectors immediately after/before Kafka Connect start/stop, we need to use Kubernet

[2021-02-08 16:39] gAmUssA commented on #493
@ruiengana Thanks for this suggestion. I would love to have POC PR but personally, I don't really like the idea of using `initContainer` to bring the connectors that way.

Definitely, there should be an opinionated workflow (CI/CD, gitops) on how to bring custom connectors.
I'm planning to look at this in April.

[2021-02-08 16:43] gAmUssA commented on #494
@vrakosky Cheers! Thanks for this suggestion! Are you open to working on POC PR?
As an immediate workaround, I suggest using the `CronJob` object to start connectors.
Here's an example https://github.com/confluentinc/demo-scene/blob/master/twitter-streams-operator/gke-base/cfg/clicks-datagen-connector-deploy-job.yaml

[2021-02-24 17:20] SoerenHenning commented on #461
This problem is reported here and in #464. In particular, that means that even with a default installation, the Grafana dashboard does not show all metrics. This issue was definitely introduces with #428 as when [commenting out the `whitelistObjectNames`](https://github.com/SoerenHenning/cp-helm-charts/commit/789a628bbb23af1771c26d12399bb284b78ca77f) everything is working fine again.

I would like

[2021-02-25 15:02] srolija commented on #461
Since I made that PR, let me jump in. Those whitelists were based on the dashboard that was current at that time and since we are using the Grafana dashboard as well, we tested with that one. It should work since we are running the exact same version on our production.

Do note that initial PR had an formatting issue which I fixed a week latter but didn't end up in 5.5.0, rather only in v6.0.1: ht

[2021-02-25 18:05] SoerenHenning commented on #461
Thank you for your comment. Based on it, I started to dig a bit deeper and found out that there seem to be two independent issues (at least in my setting).

Indeed, the provided dashboard seems to work almost as expected. For me, the dashboard does not show anything, but that is because the `$Release` variable cannot be resolved. When removing the `$Release` query filters, the plots do show someth

[2021-02-25 19:53] srolija commented on #461
It could be that additional whitelist is needed; I didn't see that one in the default dashboard.
Can you try adding the following for whitelist below the line:
https://github.com/confluentinc/cp-helm-charts/blob/596dd559c1085faf76a03a66178834578203c395/charts/cp-kafka/templates/jmx-configmap.yaml#L20

[code]

[2021-02-26 09:15] SoerenHenning commented on #461
So first, sorry for my initial misunderstanding. With the default whitelist and the default dashboard everything seems to work as expected. So there is nothing "wrong" with the current version of the chart.

I replaced your suggested whitelist rule and, indeed, now I'm getting topic metrics again. Thanks!

Question would now be how we could support this in upstream chart? I could open a pull reque

[2021-03-02 15:57] srolija commented on #461
That is likely question for someone else within the team that is maintaining the chart. :)

I can tell you what we did for our use-case. We are using the https://github.com/danielqsj/kafka_exporter for those metrics instead. We liked that it used labels instead of metric names and if I recall correctly, it exposes some additional statistics. It also didn't timeout unlike the JMX exporter for which

[2021-03-03 03:20] aurabhi opened #497 "cp-ksql-server helm chart fails to deploy /home/appuser"
I am installing ksql using helm chart which connects to an external kafka/zookeeper/schema-reg.
I have not installed the other cp components. They are already installed and are running outside the kubernetes cluster.

I am running the following command, with a modified values.yaml pointing to bootstrap servers and schema registry.

**helm install --name my-ksql -f values.yaml ./ --debug**

Warning

[2021-03-03 13:40] britoaldan opened #498 "scale of Zookeeper server's"
we have the below queries.
1. Is the dynamic reconfiguration feature being used in zookeeper charts.
2. If we scale the zookeeper pods from say 3 to 5, will the existing quorum of 3 zookeepers restart ?
    we see in the user guide to stop all producers and consumer before performing the scale operations, whats the purpose of stopping the clients.

[2021-03-04 15:54] SoerenHenning commented on #461
Thanks again for your elaborate thoughts. I opened a pull request for including the broker topic metrics (#499), but would also be fine with some other solution.

Currently the only reason we need these metrics for is displaying the rate of incoming messages per topic in a Grafana dashboard. We're performing heavy load testing on stream processing engines by sending huge amounts of data to Kafka a

[2021-03-04 22:23] notrocketscience1 opened #500 "Unable to configure sasl.jaas.config in values.yaml or deployment.yaml"
Tried following things in both the files:

1. In values.yaml under kafka:
[code]

2. In values.yaml under kafka:
[code]

3. In values.yaml under configurationOverrides:
[code]

4. In values.yaml under configurationOverrides:
[code]

5. In deployment.yaml under env:
[code]
6. In deployment.yaml under env:
[code]

We are able to see the below in all 6 scenarios environment variables set to the k8s c

[2021-03-05 17:50] lischkem opened #501 "zookeeper helm chart are stuck in CrashLoopBackOff on AWS EKS"
Hi all,

when running:
helm install awseks-cp-zookeeper cp-helm-charts/charts/cp-zookeeper -n ns-eks-kafka
the zookeeper container gets stuck in state: Waiting, resulting in CrashLoopBackOff
the prometheus container is running without issues.
The log output below states an permission error.

Could this be related to the securityContext (not set) in the values.yaml file?
Any recommendation how to s

[2021-03-06 01:13] arunvelsriram commented on #500
If you look: https://github.com/confluentinc/cp-helm-charts/blob/master/charts/cp-control-center/templates/deployment.yaml#L61-L67

There are two ways to pass configs:
- `configurationOverrides`
- `customEnv`

As per https://docs.confluent.io/platform/current/control-center/security/sasl.html#c3-short-configuration Control Center authentication properties have a prefix `confluent.controlcenter.str

[2021-03-06 02:48] mohankrishna3 commented on #479
I am also looking for the same in AKS. I am able to enable the load balance with values.yaml in cp-kafka chart and configured advertised listener in configuration.overrides.
Now telnet is working fine from outside
     telnet <loadbalancer-ip> 9092
I am getting output "connected". It means loadbalancer ip and port are exposed to out side
but when I try to connect from "conduktor" tool it says, "Br

[2021-03-07 10:51] HemanthChalla opened #502 "A StatefulSet for cp-ksql-server helm chart"
It would be great to have a StatefulSet instead of deployment for ksql-server.

The replica's of ksql-server are not able to communicate with each other on the Kubernetes cluster as they are not part of a StatefulSet leading to failure of pull queries.

Either of the two errors occurs:
1. Exhausted standby nodes to try
2. All nodes are dead or exceed max allowed lag

These errors occur because the

[2021-03-07 11:02] lischkem commented on #501
Hi,

when setting the securityContext in values.yaml to root (I know not best practice):
securityContext:
  runAsUser: 0
  runAsGroup: 0
the error Permission denied error seems to be solved.

Bu maybe, some og you have a better solution instead of setting the securityContext with root access.

[2021-03-07 23:36] arashnikoo opened #503 "Cluster doesn't fully start"
I'm trying to run the cluster on Rancher. Here is my helm values:

[code]

This Pod is failing which I believe is causing the entire cluster not to full start:
Pod: cp-kafka-0

`

[2021-03-07 23:19:15,723] WARN Couldn't resolve server PLAINTEXT://cp-kafka-cp-kafka-headless:9092 from bootstrap.servers as DNS resolution failed for cp-kafka-cp-kafka-headless (org.apache.kafka.clients.ClientUtils)
--

[2021-03-09 09:09] RappC commented on #501
Having the same issue.

[2021-03-11 05:40] zachariahyoung commented on #480
any updates on this?

[2021-03-11 07:57] ducminhle opened #504 "Custom Kafka connect jmx config"
Hi All,

When I use cp-helm-charts, I use our own kafka-connect images, it builds from image `confluentinc/cp-kafka-connect` but we install some plugin from Confluent hub (for example Debezium-MySQL, Debezium-PostgreSQL, ...).
We need to get metrics (example: Debezium) we need to change configmap Kafka connect jmx, but cp-helm-charts didn't support this feature. Could we add a feature custom Kafka

[2021-03-12 21:04] gqianse opened #505 "Helm chart kafka connect installation is Missing InfluxDBSinkConnector"
After installing kafka connect helm chart in kubernetes cluster with cp-helm-charts\charts\cp-kafka-connect (6.0.1-ccs), I am getting this error message
"{"error_code":500,"message":"Failed to find any class that implements Connector and which name matches io.confluent.influxdb.InfluxDBSinkConnector,"
Is there any other version of kafka connect helm chart include the io.confluent.influxdb.InfluxDB

[2021-03-16 04:08] ducminhle commented on #505
I think you should build a new Docker image Kafka-connect and install this plugin, and change the Kafka connect image in value.yaml file to use your Docker image built.
[code]
https://www.confluent.io/hub/confluentinc/kafka-connect-influxdb

[2021-03-16 16:29] aidan-melen commented on #384
@Maatary I had the same question. Doesn't look like the chart supports configuration of the log files. However, I was able to accomplish this by building the modified `log4j.properties` into the docker image and set that image in the chart. For example:

Dockerfile
[code]

Then override the default image in the chart:

[code]

[2021-03-17 14:41] gqianse commented on #505
Thank you for the reply. I did try to run this install command from the confluent-hub container, it gets installed successfully /usr/share/confluent-hub-components/confluentinc-kafka-connect-influxdb in all the workers, which as plugin.path=/usr/share/java,/usr/share/confluent-hub-components, but still I am getting the same error when I post the connector.json to local ret endpoint.

[2021-03-18 23:05] cijujoseph commented on #497
@aurabhi wondering if you managed to get around this issue? We are also facing the same issue

[2021-03-22 08:18] hoongeun commented on #505
I spent several days about this issue.

In other examples, they installed connect before it start.
https://github.com/confluentinc/demo-scene/blob/fdd80c2043c1cc55f45833aa76d4e1abeb740ced/kafka-connect-zero-to-hero/docker-compose.yml#L89-L101

But this chart doesn't
https://github.com/confluentinc/cp-helm-charts/blob/c6874284a0141ea6b70b70c9238a7ce09af2920c/charts/cp-kafka-connect/templates/deploy

[2021-03-25 02:47] OneCricketeer commented on #505
The image doesn't come with the Influx connector

You need to restart the Connect server to load new plugins (which would cause the pod to die)

You therefore need to install _before_ the container starts

[2021-03-25 02:50] OneCricketeer commented on #504
Can you give an example of what metrics you're interested in and what configurations you're trying to modify that cannot be placed in your image?

[2021-03-25 04:46] ducminhle commented on #504
Dockerfile:
[code]
About metrics I customize jmx config to:
[code]

[2021-03-25 06:52] OneCricketeer commented on #504
The JMX config [is a volume mount](https://github.com/confluentinc/cp-helm-charts/blob/master/charts/cp-kafka-connect/templates/deployment.yaml#L55), so 6 what happens when you place your own file there?

[2021-03-25 07:11] OneCricketeer commented on #391
Fixed? #261

[2021-03-25 07:13] OneCricketeer commented on #359
You've exec'd into the prometheus sidecar container, not the Connect container (which presumably died)

[2021-03-25 07:27] OneCricketeer commented on #478
As the error says, `transaction.state.log.replication.factor` needs to be set to 1, as well

[2021-03-25 07:30] OneCricketeer commented on #487
Can you also provide logs from the Zookeeper pods or headless ZK service?

[2021-03-25 07:34] OneCricketeer commented on #451
That's not the reason. You cannot log all containers in the pod, you need to choose

Could you be more specific?

[2021-03-26 19:38] sshah90 commented on #461
I can see other metrics but not able to see [cp_kafka_network_requestmetrics](https://github.com/confluentinc/cp-helm-charts/blob/master/charts/cp-kafka/templates/jmx-configmap.yaml#L34-L35) metrics at all.

If some can help me here.

[2021-03-27 14:52] aurabhi commented on #497
@cijujoseph yes I was able to get around this one. The gid and uid are hard coded to 1000.
In your values override file use the below params
security:
  enabled: true
  runAsUser: 1000
  fsGroup: 1000

[2021-04-01 09:31] amitbhat-ct opened #506 "Confluent control-center throws error after 1 minute when viewing the messages on any topic in UI"
I have setup confluent 5.5.0 on kubernetes (AKS) using "cp-helm-charts", however, I am facing some issue with the control center. Everytime I am on the messages window of a topic in control center ui, the below error shows up after 1 minute.

<img width="488" alt="control-center-ui-error" src="https://user-images.githubusercontent.com/56424668/113274188-07308900-92fb-11eb-9f5f-38abcbcea852.png">

[2021-04-01 12:47] survivant commented on #480
you can install it with Helm 3+

helm install my-confluent confluentinc/cp-helm-charts  --version 0.6.0

so far I didn't find issue.

this issue is to update the chart to Helm 3 format ?

[2021-04-02 01:40] leshibily commented on #487
@OneCricketeer Here are the updated logs:

**Kafka Pod:**
+ export KAFKA_BROKER_ID=0
+ export KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://my-connect-cp-kafka-0.my-connect-cp-kafka-headless.kafka:9092,EXTERNAL://10.0.0.230:31090
+ exec /etc/confluent/docker/run
===> ENV Variables ...
ALLOW_UNSIGNED=false
COMPONENT=kafka
CONFLUENT_DEB_VERSION=1
CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS=PLAINTEXT://my-

[2021-04-02 03:11] OneCricketeer commented on #487
If you look at the Zookeeper container's variables, you see

`ZOOKEEPER_SERVERS=0.0.0.0:2888:3888;my-connect-cp-zookeeper-1.my-connect-cp-zookeeper-headless.kafka:2888:3888;my-connect-cp-zookeeper-2.my-connect-cp-zookeeper-headless.kafka:2888:3888;my-connect-cp-zookeeper-3.my-connect-cp-zookeeper-headless.kafka:2888:3888;my-connect-cp-zookeeper-4.my-connect-cp-zookeeper-headless.kafka:2888:3888`

[2021-04-02 16:30] notrocketscience1 opened #507 "Flag --name does not work."
When I'm running the below command, I'm getting an error:

Error: unknown flag: --name

helm version is:

version.BuildInfo{Version:"v3.4.1", GitCommit:"c4e74854886b2efe3321e185578e6db9be0a6e29", GitTreeState:"clean", GoVersion:"go1.14.11"}

[2021-04-02 17:01] leshibily commented on #487
I have deployed this with the default cp-helm-charts settings. Is there no way to scale Kafka and Zookeeper together?

[2021-04-02 17:10] OneCricketeer commented on #487
In my experience, no. Then again, I don't use Kafka or Zookeeper in Kubernetes. Besides, Zookeeper shouldn't need scaled beyond 3 servers for a small cluster, or 5 for more fault tolerance. 7 is the max in rare conditions of large workloads.

Then scaling brokers doesn't migrate any partition data, or increase cluster throughput for existing pipelines.

So, I'm not sure I understand the overall pu

[2021-04-02 17:12] OneCricketeer commented on #507
See #480

[2021-04-02 20:57] leshibily commented on #311
@gAmUssA I am really sad to see none of the ticket got closed even after an year.

[2021-04-03 08:46] leshibily commented on #487
@OneCricketeer thanks for your recommendation. This was bugging us for quite some time. Kudos to you!

[2021-04-03 08:46] #487 closed

[2021-04-05 05:18] nrvmodi commented on #395
I am facing the same issue, but it happened after few days (1 day). Not the time of deployment.

[2021-04-05 06:39] nvermalulu opened #508 "jmx-configmap.yaml not working for KSql 0.15.0"
cp-helm-charts/charts/cp-ksql-server/templates/jmx-configmap.yaml not working for KSql 0.15.0

i saw similar issue  mentioned here . Could someone fix helm chart jmx configuration as per ksql 0.15.0 release

0.15.0: https://github.com/confluentinc/ksql/issues/7254 . Some old metric naming conventions were removed in this release which might require a change in your JMX exporter configuration. See

[2021-04-05 17:40] nvermalulu commented on #508
made it working by
whitelistObjectNames:
     - io.confluent.ksql.metrics:type=*

but still looking pattern and rules

[2021-04-07 17:51] survivant opened #509 "when replicas and server set to 1 : cp-schema-registry-server CrashLoopBackOff"
I'm deploying the platform to test it and I have pods that are crashing in loop

I'm using this version :
[code]

values.yaml

[code]

here my pods running

[code]

part of the logs for : kubectl logs kafka-cp-schema-registry-5d699b7f4d-6jqwd cp-schema-registry-server
[code]

[2021-04-07 19:03] survivant commented on #478
I have the same problem.  https://github.com/confluentinc/cp-helm-charts/issues/509

there are params that are not passed to the applications

[2021-04-07 19:06] survivant opened #510 "NodePort support should be added"
all the charts should have something like this in values.yaml

[code]

in service.yaml (as example)

[code]

[2021-04-07 19:06] OneCricketeer commented on #478
@survivant I'm not seeing any error about replication factors in your post

[2021-04-07 19:10] gAmUssA commented on #510
@survivant do you want  to take a stab and create a PR for this?

[2021-04-07 19:11] survivant commented on #478
the logs wasn't complete

[code]

my point was more that I have specify 1 replica, 1 server... in all the settings that I found in the chart's values.yaml  and at the end, the applications are still looking for 3 replicas (probably a default value).

there are settings that are not passed using Helm charts

[2021-04-07 19:14] survivant commented on #510
yes I'll do that.  PS.  I'm watching your videos about ksqldb in livestream :)  (I found few issues about Helm chart installation :(  )